.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.bg-info {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}

.bg-warning {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
}

.bg-danger {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.bg-body {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)) !important;
}

.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent;
}

.bg-opacity-10 {
  --bs-bg-opacity: 0.1;
}

.bg-opacity-25 {
  --bs-bg-opacity: 0.25;
}

.bg-opacity-50 {
  --bs-bg-opacity: 0.5;
}

.bg-opacity-75 {
  --bs-bg-opacity: 0.75;
}

.bg-opacity-100 {
  --bs-bg-opacity: 1;
}

.bg-gradient {
  background-image: var(--bs-gradient) !important;
}

.bg-materialize-red {
  background-color: var(--materialize-red) !important;
}

.bg-materialize-red-lighten-5 {
  background-color: var(--materialize-red-lighten-5) !important;
}

.bg-materialize-red-lighten-4 {
  background-color: var(--materialize-red-lighten-4) !important;
}

.bg-materialize-red-lighten-3 {
  background-color: var(--materialize-red-lighten-3) !important;
}

.bg-materialize-red-lighten-2 {
  background-color: var(--materialize-red-lighten-2) !important;
}

.bg-materialize-red-lighten-1 {
  background-color: var(--materialize-red-lighten-1) !important;
}

.bg-materialize-red-darken-1 {
  background-color: var(--materialize-red-darken-1) !important;
}

.bg-materialize-red-darken-2 {
  background-color: var(--materialize-red-darken-2) !important;
}

.bg-materialize-red-darken-3 {
  background-color: var(--materialize-red-darken-3) !important;
}

.bg-materialize-red-darken-4 {
  background-color: var(--materialize-red-darken-4) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

.bg-red-lighten-5 {
  background-color: var(--red-lighten-5) !important;
}

.bg-red-lighten-4 {
  background-color: var(--red-lighten-4) !important;
}

.bg-red-lighten-3 {
  background-color: var(--red-lighten-3) !important;
}

.bg-red-lighten-2 {
  background-color: var(--red-lighten-2) !important;
}

.bg-red-lighten-1 {
  background-color: var(--red-lighten-1) !important;
}

.bg-red-darken-1 {
  background-color: var(--red-darken-1) !important;
}

.bg-red-darken-2 {
  background-color: var(--red-darken-2) !important;
}

.bg-red-darken-3 {
  background-color: var(--red-darken-3) !important;
}

.bg-red-darken-4 {
  background-color: var(--red-darken-4) !important;
}

.bg-red-accent-1 {
  background-color: var(--red-accent-1) !important;
}

.bg-red-accent-2 {
  background-color: var(--red-accent-2) !important;
}

.bg-red-accent-3 {
  background-color: var(--red-accent-3) !important;
}

.bg-red-accent-4 {
  background-color: var(--red-accent-4) !important;
}

.bg-pink {
  background-color: var(--pink) !important;
}

.bg-pink-lighten-5 {
  background-color: var(--pink-lighten-5) !important;
}

.bg-pink-lighten-4 {
  background-color: var(--pink-lighten-4) !important;
}

.bg-pink-lighten-3 {
  background-color: var(--pink-lighten-3) !important;
}

.bg-pink-lighten-2 {
  background-color: var(--pink-lighten-2) !important;
}

.bg-pink-lighten-1 {
  background-color: var(--pink-lighten-1) !important;
}

.bg-pink-darken-1 {
  background-color: var(--pink-darken-1) !important;
}

.bg-pink-darken-2 {
  background-color: var(--pink-darken-2) !important;
}

.bg-pink-darken-3 {
  background-color: var(--pink-darken-3) !important;
}

.bg-pink-darken-4 {
  background-color: var(--pink-darken-4) !important;
}
.bg-pink-accent-1 {
  background-color: var(--pink-accent-1) !important;
}

.bg-pink-accent-2 {
  background-color: var(--pink-accent-2) !important;
}

.bg-pink-accent-3 {
  background-color: var(--pink-accent-3) !important;
}

.bg-pink-accent-4 {
  background-color: var(--pink-accent-4) !important;
}

.bg-purple {
  background-color: var(--purple) !important;
}

.bg-purple-lighten-5 {
  background-color: var(--purple-lighten-5) !important;
}

.bg-purple-lighten-4 {
  background-color: var(--purple-lighten-4) !important;
}

.bg-purple-lighten-3 {
  background-color: var(--purple-lighten-3) !important;
}

.bg-purple-lighten-2 {
  background-color: var(--purple-lighten-2) !important;
}
.bg-purple-lighten-1 {
  background-color: var(--purple-lighten-1) !important;
}

.bg-purple-darken-1 {
  background-color: var(--purple-darken-1) !important;
}

.bg-purple-darken-2 {
  background-color: var(--purple-darken-2) !important;
}

.bg-purple-darken-3 {
  background-color: var(--purple-darken-3) !important;
}

.bg-purple-darken-4 {
  background-color: var(--purple-darken-4) !important;
}

.bg-purple-accent-1 {
  background-color: var(--purple-accent-1) !important;
}

.bg-purple-accent-2 {
  background-color: var(--purple-accent-2) !important;
}

.bg-purple-accent-3 {
  background-color: var(--purple-accent-3) !important;
}

.bg-purple-accent-4 {
  background-color: var(--purple-accent-4) !important;
}

.bg-deep-purple {
  background-color: var(--deep-purple) !important;
}

.bg-deep-purple-lighten-5 {
  background-color: var(--deep-purple-lighten-5) !important;
}

.bg-deep-purple-lighten-4 {
  background-color: var(--deep-purple-lighten-4) !important;
}

.bg-deep-purple-lighten-3 {
  background-color: var(--deep-purple-lighten-3) !important;
}

.bg-deep-purple-lighten-2 {
  background-color: var(--deep-purple-lighten-2) !important;
}

.bg-deep-purple-lighten-1 {
  background-color: var(--deep-purple-lighten-1) !important;
}

.bg-deep-purple-darken-1 {
  background-color: var(--deep-purple-darken-1) !important;
}

.bg-deep-purple-darken-2 {
  background-color: var(--deep-purple-darken-2) !important;
}

.bg-deep-purple-darken-3 {
  background-color: var(--deep-purple-darken-3) !important;
}

.bg-deep-purple-darken-4 {
  background-color: var(--deep-purple-darken-4) !important;
}

.bg-deep-purple-accent-1 {
  background-color: var(--deep-purple-accent-1) !important;
}

.bg-deep-purple-accent-2 {
  background-color: var(--deep-purple-accent-2) !important;
}

.bg-deep-purple-accent-3 {
  background-color: var(--deep-purple-accent-3) !important;
}

.bg-deep-purple-accent-4 {
  background-color: var(--deep-purple-accent-4) !important;
}

.bg-indigo {
  background-color: var(--indigo) !important;
}

.bg-indigo-lighten-5 {
  background-color: var(--indigo-lighten-5) !important;
}

.bg-indigo-lighten-4 {
  background-color: var(--indigo-lighten-4) !important;
}

.bg-indigo-lighten-3 {
  background-color: var(--indigo-lighten-3) !important;
}

.bg-indigo-lighten-2 {
  background-color: var(--indigo-lighten-2) !important;
}

.bg-indigo-lighten-1 {
  background-color: var(--indigo-lighten-1) !important;
}

.bg-indigo-darken-1 {
  background-color: var(--indigo-darken-1) !important;
}

.bg-indigo-darken-2 {
  background-color: var(--indigo-darken-2) !important;
}

.bg-indigo-darken-3 {
  background-color: var(--indigo-darken-3) !important;
}

.bg-indigo-darken-4 {
  background-color: var(--indigo-darken-4) !important;
}

.bg-indigo-accent-1 {
  background-color: var(--indigo-accent-1) !important;
}

.bg-indigo-accent-2 {
  background-color: var(--indigo-accent-2) !important;
}

.bg-indigo-accent-3 {
  background-color: var(--indigo-accent-3) !important;
}

.bg-indigo-accent-4 {
  background-color: var(--indigo-accent-4) !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.bg-blue-lighten-5 {
  background-color: var(--blue-lighten-5) !important;
}

.bg-blue-lighten-4 {
  background-color: var(--blue-lighten-4) !important;
}

.bg-blue-lighten-3 {
  background-color: var(--blue-lighten-3) !important;
}

.bg-blue-lighten-2 {
  background-color: var(--blue-lighten-2) !important;
}

.bg-blue-lighten-1 {
  background-color: var(--blue-lighten-1) !important;
}

.bg-blue-darken-1 {
  background-color: var(--blue-darken-1) !important;
}

.bg-blue-darken-2 {
  background-color: var(--blue-darken-2) !important;
}

.bg-blue-darken-3 {
  background-color: var(--blue-darken-3) !important;
}

.bg-blue-darken-4 {
  background-color: var(--blue-darken-4) !important;
}

.bg-blue-accent-1 {
  background-color: var(--blue-accent-1) !important;
}

.bg-blue-accent-2 {
  background-color: var(--blue-accent-2) !important;
}

.bg-blue-accent-3 {
  background-color: var(--blue-accent-3) !important;
}

.bg-blue-accent-4 {
  background-color: var(--blue-accent-4) !important;
}

.bg-light-blue {
  background-color: var(--light-blue) !important;
}

.bg-light-blue-lighten-5 {
  background-color: var(--light-blue-lighten-5) !important;
}

.bg-light-blue-lighten-4 {
  background-color: var(--light-blue-lighten-4) !important;
}

.bg-light-blue-lighten-3 {
  background-color: var(--light-blue-lighten-3) !important;
}

.bg-light-blue-lighten-2 {
  background-color: var(--light-blue-lighten-2) !important;
}

.bg-light-blue-lighten-1 {
  background-color: var(--light-blue-lighten-1) !important;
}

.bg-light-blue-darken-1 {
  background-color: var(--light-blue-darken-1) !important;
}

.bg-light-blue-darken-2 {
  background-color: var(--light-blue-darken-2) !important;
}

.bg-light-blue-darken-3 {
  background-color: var(--light-blue-darken-3) !important;
}

.bg-light-blue-darken-4 {
  background-color: var(--light-blue-darken-4) !important;
}

.bg-light-blue-accent-1 {
  background-color: var(--light-blue-accent-1) !important;
}

.bg-light-blue-accent-2 {
  background-color: var(--light-blue-accent-2) !important;
}

.bg-light-blue-accent-3 {
  background-color: var(--light-blue-accent-3) !important;
}

.bg-light-blue-accent-4 {
  background-color: var(--light-blue-accent-4) !important;
}

.bg-cyan {
  background-color: var(--cyan) !important;
}

.bg-cyan-lighten-5 {
  background-color: var(--cyan-lighten-5) !important;
}

.bg-cyan-lighten-4 {
  background-color: var(--cyan-lighten-4) !important;
}

.bg-cyan-lighten-3 {
  background-color: var(--cyan-lighten-3) !important;
}

.bg-cyan-lighten-2 {
  background-color: var(--cyan-lighten-2) !important;
}

.bg-cyan-lighten-1 {
  background-color: var(--cyan-lighten-1) !important;
}

.bg-cyan-darken-1 {
  background-color: var(--cyan-darken-1) !important;
}

.bg-cyan-darken-2 {
  background-color: var(--cyan-darken-2) !important;
}

.bg-cyan-darken-3 {
  background-color: var(--cyan-darken-3) !important;
}

.bg-cyan-darken-4 {
  background-color: var(--cyan-darken-4) !important;
}

.bg-cyan-accent-1 {
  background-color: var(--cyan-accent-1) !important;
}

.bg-cyan-accent-2 {
  background-color: var(--cyan-accent-2) !important;
}

.bg-cyan-accent-3 {
  background-color: var(--cyan-accent-3) !important;
}

.bg-cyan-accent-4 {
  background-color: var(--cyan-accent-4) !important;
}

.bg-teal {
  background-color: var(--teal) !important;
}

.bg-teal-lighten-5 {
  background-color: var(--teal-lighten-5) !important;
}

.bg-teal-lighten-4 {
  background-color: var(--teal-lighten-4) !important;
}

.bg-teal-lighten-3 {
  background-color: var(--teal-lighten-3) !important;
}

.bg-teal-lighten-2 {
  background-color: var(--teal-lighten-2) !important;
}

.bg-teal-lighten-1 {
  background-color: var(--teal-lighten-1) !important;
}

.bg-teal-darken-1 {
  background-color: var(--teal-darken-1) !important;
}

.bg-teal-darken-2 {
  background-color: var(--teal-darken-2) !important;
}

.bg-teal-darken-3 {
  background-color: var(--teal-darken-3) !important;
}

.bg-teal-darken-4 {
  background-color: var(--teal-darken-4) !important;
}

.bg-teal-accent-1 {
  background-color: var(--teal-accent-1) !important;
}

.bg-teal-accent-2 {
  background-color: var(--teal-accent-2) !important;
}

.bg-teal-accent-3 {
  background-color: var(--teal-accent-3) !important;
}

.bg-teal-accent-4 {
  background-color: var(--teal-accent-4) !important;
}

.bg-green {
  background-color: var(--green) !important;
}

.bg-green-lighten-5 {
  background-color: var(--green-lighten-5) !important;
}

.bg-green-lighten-4 {
  background-color: var(--green-lighten-4) !important;
}

.bg-green-lighten-3 {
  background-color: var(--green-lighten-3) !important;
}

.bg-green-lighten-2 {
  background-color: var(--green-lighten-2) !important;
}

.bg-green-lighten-1 {
  background-color: var(--green-lighten-1) !important;
}

.bg-green-darken-1 {
  background-color: var(--green-darken-1) !important;
}

.bg-green-darken-2 {
  background-color: var(--green-darken-2) !important;
}

.bg-green-darken-3 {
  background-color: var(--green-darken-3) !important;
}

.bg-green-darken-4 {
  background-color: var(--green-darken-4) !important;
}

.bg-green-accent-1 {
  background-color: var(--green-accent-1) !important;
}

.bg-green-accent-2 {
  background-color: var(--green-accent-2) !important;
}

.bg-green-accent-3 {
  background-color: var(--green-accent-3) !important;
}

.bg-green-accent-4 {
  background-color: var(--green-accent-4) !important;
}

.bg-light-green {
  background-color: var(--light-green) !important;
}

.bg-light-green-lighten-5 {
  background-color: var(--light-green-lighten-5) !important;
}

.bg-light-green-lighten-4 {
  background-color: var(--light-green-lighten-4) !important;
}

.bg-light-green-lighten-3 {
  background-color: var(--light-green-lighten-3) !important;
}

.bg-light-green-lighten-2 {
  background-color: var(--light-green-lighten-2) !important;
}

.bg-light-green-lighten-1 {
  background-color: var(--light-green-lighten-1) !important;
}

.bg-light-green-darken-1 {
  background-color: var(--light-green-darken-1) !important;
}

.bg-light-green-darken-2 {
  background-color: var(--light-green-darken-2) !important;
}

.bg-light-green-darken-3 {
  background-color: var(--light-green-darken-3) !important;
}

.bg-light-green-darken-4 {
  background-color: var(--light-green-darken-4) !important;
}

.bg-light-green-accent-1 {
  background-color: var(--light-green-accent-1) !important;
}

.bg-light-green-accent-2 {
  background-color: var(--light-green-accent-2) !important;
}

.bg-light-green-accent-3 {
  background-color: var(--light-green-accent-3) !important;
}

.bg-light-green-accent-4 {
  background-color: var(--light-green-accent-4) !important;
}

.bg-lime {
  background-color: var(--lime) !important;
}

.bg-lime-lighten-5 {
  background-color: var(--lime-lighten-5) !important;
}

.bg-lime-lighten-4 {
  background-color: var(--lime-lighten-4) !important;
}

.bg-lime-lighten-3 {
  background-color: var(--lime-lighten-3) !important;
}

.bg-lime-lighten-2 {
  background-color: var(--lime-lighten-2) !important;
}

.bg-lime-lighten-1 {
  background-color: var(--lime-lighten-1) !important;
}

.bg-lime-darken-1 {
  background-color: var(--lime-darken-1) !important;
}

.bg-lime-darken-2 {
  background-color: var(--lime-darken-2) !important;
}

.bg-lime-darken-3 {
  background-color: var(--lime-darken-3) !important;
}

.bg-lime-darken-4 {
  background-color: var(--lime-darken-4) !important;
}

.bg-lime-accent-1 {
  background-color: var(--lime-accent-1) !important;
}

.bg-lime-accent-2 {
  background-color: var(--lime-accent-2) !important;
}

.bg-lime-accent-3 {
  background-color: var(--lime-accent-3) !important;
}

.bg-lime-accent-4 {
  background-color: var(--lime-accent-4) !important;
}

.bg-yellow {
  background-color: var(--yellow) !important;
}

.bg-yellow-lighten-5 {
  background-color: var(--yellow-lighten-5) !important;
}

.bg-yellow-lighten-4 {
  background-color: var(--yellow-lighten-4) !important;
}

.bg-yellow-lighten-3 {
  background-color: var(--yellow-lighten-3) !important;
}

.bg-yellow-lighten-2 {
  background-color: var(--yellow-lighten-2) !important;
}

.bg-yellow-lighten-1 {
  background-color: var(--yellow-lighten-1) !important;
}

.bg-yellow-darken-1 {
  background-color: var(--yellow-darken-1) !important;
}

.bg-yellow-darken-2 {
  background-color: var(--yellow-darken-2) !important;
}

.bg-yellow-darken-3 {
  background-color: var(--yellow-darken-3) !important;
}

.bg-yellow-darken-4 {
  background-color: var(--yellow-darken-4) !important;
}

.bg-yellow-accent-1 {
  background-color: var(--yellow-accent-1) !important;
}

.bg-yellow-accent-2 {
  background-color: var(--yellow-accent-2) !important;
}

.bg-yellow-accent-3 {
  background-color: var(--yellow-accent-3) !important;
}

.bg-yellow-accent-4 {
  background-color: var(--yellow-accent-4) !important;
}

.bg-amber {
  background-color: var(--amber) !important;
}

.bg-amber-lighten-5 {
  background-color: var(--amber-lighten-5) !important;
}

.bg-amber-lighten-4 {
  background-color: var(--amber-lighten-4) !important;
}

.bg-amber-lighten-3 {
  background-color: var(--amber-lighten-3) !important;
}

.bg-amber-lighten-2 {
  background-color: var(--amber-lighten-2) !important;
}

.bg-amber-lighten-1 {
  background-color: var(--amber-lighten-1) !important;
}

.bg-amber-darken-1 {
  background-color: var(--amber-darken-1) !important;
}

.bg-amber-darken-2 {
  background-color: var(--amber-darken-2) !important;
}

.bg-amber-darken-3 {
  background-color: var(--amber-darken-3) !important;
}

.bg-amber-darken-4 {
  background-color: var(--amber-darken-4) !important;
}

.bg-amber-accent-1 {
  background-color: var(--amber-accent-1) !important;
}

.bg-amber-accent-2 {
  background-color: var(--amber-accent-2) !important;
}

.bg-amber-accent-3 {
  background-color: var(--amber-accent-3) !important;
}

.bg-amber-accent-4 {
  background-color: var(--amber-accent-4) !important;
}

.bg-orange {
  background-color: var(--orange) !important;
}

.bg-orange-lighten-5 {
  background-color: var(--orange-lighten-5) !important;
}

.bg-orange-lighten-4 {
  background-color: var(--orange-lighten-4) !important;
}

.bg-orange-lighten-3 {
  background-color: var(--orange-lighten-3) !important;
}

.bg-orange-lighten-2 {
  background-color: var(--orange-lighten-2) !important;
}

.bg-orange-lighten-1 {
  background-color: var(--orange-lighten-1) !important;
}

.bg-orange-darken-1 {
  background-color: var(--orange-darken-1) !important;
}

.bg-orange-darken-2 {
  background-color: var(--orange-darken-2) !important;
}

.bg-orange-darken-3 {
  background-color: var(--orange-darken-3) !important;
}

.bg-orange-darken-4 {
  background-color: var(--orange-darken-4) !important;
}

.bg-orange-accent-1 {
  background-color: var(--orange-accent-1) !important;
}

.bg-orange-accent-2 {
  background-color: var(--orange-accent-2) !important;
}

.bg-orange-accent-3 {
  background-color: var(--orange-accent-3) !important;
}

.bg-orange-accent-4 {
  background-color: var(--orange-accent-4) !important;
}

.bg-deep-orange {
  background-color: var(--deep-orange) !important;
}

.bg-deep-orange-lighten-5 {
  background-color: var(--deep-orange-lighten-5) !important;
}

.bg-deep-orange-lighten-4 {
  background-color: var(--deep-orange-lighten-4) !important;
}

.bg-deep-orange-lighten-3 {
  background-color: var(--deep-orange-lighten-3) !important;
}

.bg-deep-orange-lighten-2 {
  background-color: var(--deep-orange-lighten-2) !important;
}

.bg-deep-orange-lighten-1 {
  background-color: var(--deep-orange-lighten-1) !important;
}

.bg-deep-orange-darken-1 {
  background-color: var(--deep-orange-darken-1) !important;
}

.bg-deep-orange-darken-2 {
  background-color: var(--deep-orange-darken-2) !important;
}

.bg-deep-orange-darken-3 {
  background-color: var(--deep-orange-darken-3) !important;
}

.bg-deep-orange-darken-4 {
  background-color: var(--deep-orange-darken-4) !important;
}

.bg-deep-orange-accent-1 {
  background-color: var(--deep-orange-accent-1) !important;
}

.bg-deep-orange-accent-2 {
  background-color: var(--deep-orange-accent-2) !important;
}

.bg-deep-orange-accent-3 {
  background-color: var(--deep-orange-accent-3) !important;
}

.bg-deep-orange-accent-4 {
  background-color: var(--deep-orange-accent-4) !important;
}

.bg-brown {
  background-color: var(--brown) !important;
}

.bg-brown-lighten-5 {
  background-color: var(--brown-lighten-5) !important;
}

.bg-brown-lighten-4 {
  background-color: var(--brown-lighten-4) !important;
}

.bg-brown-lighten-3 {
  background-color: var(--brown-lighten-3) !important;
}

.bg-brown-lighten-2 {
  background-color: var(--brown-lighten-2) !important;
}

.bg-brown-lighten-1 {
  background-color: var(--brown-lighten-1) !important;
}

.bg-brown-darken-1 {
  background-color: var(--brown-darken-1) !important;
}

.bg-brown-darken-2 {
  background-color: var(--brown-darken-2) !important;
}

.bg-brown-darken-3 {
  background-color: var(--brown-darken-3) !important;
}

.bg-brown-darken-4 {
  background-color: var(--brown-darken-4) !important;
}

.bg-blue-grey {
  background-color: var(--blue-grey) !important;
}

.bg-blue-grey-lighten-5 {
  background-color: var(--blue-grey-lighten-5) !important;
}

.bg-blue-grey-lighten-4 {
  background-color: var(--blue-grey-lighten-4) !important;
}

.bg-blue-grey-lighten-3 {
  background-color: var(--blue-grey-lighten-3) !important;
}

.bg-blue-grey-lighten-2 {
  background-color: var(--blue-grey-lighten-2) !important;
}

.bg-blue-grey-lighten-1 {
  background-color: var(--blue-grey-lighten-1) !important;
}

.bg-blue-grey-darken-1 {
  background-color: var(--blue-grey-darken-1) !important;
}

.bg-blue-grey-darken-2 {
  background-color: var(--blue-grey-darken-2) !important;
}

.bg-blue-grey-darken-3 {
  background-color: var(--blue-grey-darken-3) !important;
}

.bg-blue-grey-darken-4 {
  background-color: var(--blue-grey-darken-4) !important;
}

.bg-grey {
  background-color: var(--grey) !important;
}

.bg-grey-lighten-5 {
  background-color: var(--grey-lighten-5) !important;
}

.bg-grey-lighten-4 {
  background-color: var(--grey-lighten-4) !important;
}

.bg-grey-lighten-3 {
  background-color: var(--grey-lighten-3) !important;
}

.bg-grey-lighten-2 {
  background-color: var(--grey-lighten-2) !important;
}

.bg-grey-lighten-1 {
  background-color: var(--grey-lighten-1) !important;
}

.bg-grey-darken-1 {
  background-color: var(--grey-darken-1) !important;
}

.bg-grey-darken-2 {
  background-color: var(--grey-darken-2) !important;
}

.bg-grey-darken-3 {
  background-color: var(--grey-darken-3) !important;
}

.bg-grey-darken-4 {
  background-color: var(--grey-darken-4) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-transparent {
  background-color: transparent;
}

.bg-materialize-red-hvr:hover {
  background-color: var(--materialize-red) !important;
}

.bg-materialize-red-lighten-5-hvr:hover {
  background-color: var(--materialize-red-lighten-5) !important;
}

.bg-materialize-red-lighten-4-hvr:hover {
  background-color: var(--materialize-red-lighten-4) !important;
}

.bg-materialize-red-lighten-3-hvr:hover {
  background-color: var(--materialize-red-lighten-3) !important;
}

.bg-materialize-red-lighten-2-hvr:hover {
  background-color: var(--materialize-red-lighten-2) !important;
}

.bg-materialize-red-lighten-1-hvr:hover {
  background-color: var(--materialize-red-lighten-1) !important;
}

.bg-materialize-red-darken-1-hvr:hover {
  background-color: var(--materialize-red-darken-1) !important;
}

.bg-materialize-red-darken-2-hvr:hover {
  background-color: var(--materialize-red-darken-2) !important;
}

.bg-materialize-red-darken-3-hvr:hover {
  background-color: var(--materialize-red-darken-3) !important;
}

.bg-materialize-red-darken-4-hvr:hover {
  background-color: var(--materialize-red-darken-4) !important;
}

.bg-red-hvr:hover {
  background-color: var(--red) !important;
}

.bg-red-lighten-5-hvr:hover {
  background-color: var(--red-lighten-5) !important;
}

.bg-red-lighten-4-hvr:hover {
  background-color: var(--red-lighten-4) !important;
}

.bg-red-lighten-3-hvr:hover {
  background-color: var(--red-lighten-3) !important;
}

.bg-red-lighten-2-hvr:hover {
  background-color: var(--red-lighten-2) !important;
}

.bg-red-lighten-1-hvr:hover {
  background-color: var(--red-lighten-1) !important;
}

.bg-red-darken-1-hvr:hover {
  background-color: var(--red-darken-1) !important;
}

.bg-red-darken-2-hvr:hover {
  background-color: var(--red-darken-2) !important;
}

.bg-red-darken-3-hvr:hover {
  background-color: var(--red-darken-3) !important;
}

.bg-red-darken-4-hvr:hover {
  background-color: var(--red-darken-4) !important;
}

.bg-red-accent-1-hvr:hover {
  background-color: var(--red-accent-1) !important;
}

.bg-red-accent-2-hvr:hover {
  background-color: var(--red-accent-2) !important;
}

.bg-red-accent-3-hvr:hover {
  background-color: var(--red-accent-3) !important;
}

.bg-red-accent-4-hvr:hover {
  background-color: var(--red-accent-4) !important;
}

.bg-pink-hvr:hover {
  background-color: var(--pink) !important;
}

.bg-pink-lighten-5-hvr:hover {
  background-color: var(--pink-lighten-5) !important;
}

.bg-pink-lighten-4-hvr:hover {
  background-color: var(--pink-lighten-4) !important;
}

.bg-pink-lighten-3-hvr:hover {
  background-color: var(--pink-lighten-3) !important;
}

.bg-pink-lighten-2-hvr:hover {
  background-color: var(--pink-lighten-2) !important;
}

.bg-pink-lighten-1-hvr:hover {
  background-color: var(--pink-lighten-1) !important;
}

.bg-pink-darken-1-hvr:hover {
  background-color: var(--pink-darken-1) !important;
}

.bg-pink-darken-2-hvr:hover {
  background-color: var(--pink-darken-2) !important;
}

.bg-pink-darken-3-hvr:hover {
  background-color: var(--pink-darken-3) !important;
}

.bg-pink-darken-4-hvr:hover {
  background-color: var(--pink-darken-4) !important;
}
.bg-pink-accent-1-hvr:hover {
  background-color: var(--pink-accent-1) !important;
}

.bg-pink-accent-2-hvr:hover {
  background-color: var(--pink-accent-2) !important;
}

.bg-pink-accent-3-hvr:hover {
  background-color: var(--pink-accent-3) !important;
}

.bg-pink-accent-4-hvr:hover {
  background-color: var(--pink-accent-4) !important;
}

.bg-purple-hvr:hover {
  background-color: var(--purple) !important;
}

.bg-purple-lighten-5-hvr:hover {
  background-color: var(--purple-lighten-5) !important;
}

.bg-purple-lighten-4-hvr:hover {
  background-color: var(--purple-lighten-4) !important;
}

.bg-purple-lighten-3-hvr:hover {
  background-color: var(--purple-lighten-3) !important;
}

.bg-purple-lighten-2-hvr:hover {
  background-color: var(--purple-lighten-2) !important;
}
.bg-purple-lighten-1-hvr:hover {
  background-color: var(--purple-lighten-1) !important;
}

.bg-purple-darken-1-hvr:hover {
  background-color: var(--purple-darken-1) !important;
}

.bg-purple-darken-2-hvr:hover {
  background-color: var(--purple-darken-2) !important;
}

.bg-purple-darken-3-hvr:hover {
  background-color: var(--purple-darken-3) !important;
}

.bg-purple-darken-4-hvr:hover {
  background-color: var(--purple-darken-4) !important;
}

.bg-purple-accent-1-hvr:hover {
  background-color: var(--purple-accent-1) !important;
}

.bg-purple-accent-2-hvr:hover {
  background-color: var(--purple-accent-2) !important;
}

.bg-purple-accent-3-hvr:hover {
  background-color: var(--purple-accent-3) !important;
}

.bg-purple-accent-4-hvr:hover {
  background-color: var(--purple-accent-4) !important;
}

.bg-deep-purple-hvr:hover {
  background-color: var(--deep-purple) !important;
}

.bg-deep-purple-lighten-5-hvr:hover {
  background-color: var(--deep-purple-lighten-5) !important;
}

.bg-deep-purple-lighten-4-hvr:hover {
  background-color: var(--deep-purple-lighten-4) !important;
}

.bg-deep-purple-lighten-3-hvr:hover {
  background-color: var(--deep-purple-lighten-3) !important;
}

.bg-deep-purple-lighten-2-hvr:hover {
  background-color: var(--deep-purple-lighten-2) !important;
}

.bg-deep-purple-lighten-1-hvr:hover {
  background-color: var(--deep-purple-lighten-1) !important;
}

.bg-deep-purple-darken-1-hvr:hover {
  background-color: var(--deep-purple-darken-1) !important;
}

.bg-deep-purple-darken-2-hvr:hover {
  background-color: var(--deep-purple-darken-2) !important;
}

.bg-deep-purple-darken-3-hvr:hover {
  background-color: var(--deep-purple-darken-3) !important;
}

.bg-deep-purple-darken-4-hvr:hover {
  background-color: var(--deep-purple-darken-4) !important;
}

.bg-deep-purple-accent-1-hvr:hover {
  background-color: var(--deep-purple-accent-1) !important;
}

.bg-deep-purple-accent-2-hvr:hover {
  background-color: var(--deep-purple-accent-2) !important;
}

.bg-deep-purple-accent-3-hvr:hover {
  background-color: var(--deep-purple-accent-3) !important;
}

.bg-deep-purple-accent-4-hvr:hover {
  background-color: var(--deep-purple-accent-4) !important;
}

.bg-indigo-hvr:hover {
  background-color: var(--indigo) !important;
}

.bg-indigo-lighten-5-hvr:hover {
  background-color: var(--indigo-lighten-5) !important;
}

.bg-indigo-lighten-4-hvr:hover {
  background-color: var(--indigo-lighten-4) !important;
}

.bg-indigo-lighten-3-hvr:hover {
  background-color: var(--indigo-lighten-3) !important;
}

.bg-indigo-lighten-2-hvr:hover {
  background-color: var(--indigo-lighten-2) !important;
}

.bg-indigo-lighten-1-hvr:hover {
  background-color: var(--indigo-lighten-1) !important;
}

.bg-indigo-darken-1-hvr:hover {
  background-color: var(--indigo-darken-1) !important;
}

.bg-indigo-darken-2-hvr:hover {
  background-color: var(--indigo-darken-2) !important;
}

.bg-indigo-darken-3-hvr:hover {
  background-color: var(--indigo-darken-3) !important;
}

.bg-indigo-darken-4-hvr:hover {
  background-color: var(--indigo-darken-4) !important;
}

.bg-indigo-accent-1-hvr:hover {
  background-color: var(--indigo-accent-1) !important;
}

.bg-indigo-accent-2-hvr:hover {
  background-color: var(--indigo-accent-2) !important;
}

.bg-indigo-accent-3-hvr:hover {
  background-color: var(--indigo-accent-3) !important;
}

.bg-indigo-accent-4-hvr:hover {
  background-color: var(--indigo-accent-4) !important;
}

.bg-blue-hvr:hover {
  background-color: var(--blue) !important;
}

.bg-blue-lighten-5-hvr:hover {
  background-color: var(--blue-lighten-5) !important;
}

.bg-blue-lighten-4-hvr:hover {
  background-color: var(--blue-lighten-4) !important;
}

.bg-blue-lighten-3-hvr:hover {
  background-color: var(--blue-lighten-3) !important;
}

.bg-blue-lighten-2-hvr:hover {
  background-color: var(--blue-lighten-2) !important;
}

.bg-blue-lighten-1-hvr:hover {
  background-color: var(--blue-lighten-1) !important;
}

.bg-blue-darken-1-hvr:hover {
  background-color: var(--blue-darken-1) !important;
}

.bg-blue-darken-2-hvr:hover {
  background-color: var(--blue-darken-2) !important;
}

.bg-blue-darken-3-hvr:hover {
  background-color: var(--blue-darken-3) !important;
}

.bg-blue-darken-4-hvr:hover {
  background-color: var(--blue-darken-4) !important;
}

.bg-blue-accent-1-hvr:hover {
  background-color: var(--blue-accent-1) !important;
}

.bg-blue-accent-2-hvr:hover {
  background-color: var(--blue-accent-2) !important;
}

.bg-blue-accent-3-hvr:hover {
  background-color: var(--blue-accent-3) !important;
}

.bg-blue-accent-4-hvr:hover {
  background-color: var(--blue-accent-4) !important;
}

.bg-light-blue-hvr:hover {
  background-color: var(--light-blue) !important;
}

.bg-light-blue-lighten-5-hvr:hover {
  background-color: var(--light-blue-lighten-5) !important;
}

.bg-light-blue-lighten-4-hvr:hover {
  background-color: var(--light-blue-lighten-4) !important;
}

.bg-light-blue-lighten-3-hvr:hover {
  background-color: var(--light-blue-lighten-3) !important;
}

.bg-light-blue-lighten-2-hvr:hover {
  background-color: var(--light-blue-lighten-2) !important;
}

.bg-light-blue-lighten-1-hvr:hover {
  background-color: var(--light-blue-lighten-1) !important;
}

.bg-light-blue-darken-1-hvr:hover {
  background-color: var(--light-blue-darken-1) !important;
}

.bg-light-blue-darken-2-hvr:hover {
  background-color: var(--light-blue-darken-2) !important;
}

.bg-light-blue-darken-3-hvr:hover {
  background-color: var(--light-blue-darken-3) !important;
}

.bg-light-blue-darken-4-hvr:hover {
  background-color: var(--light-blue-darken-4) !important;
}

.bg-light-blue-accent-1-hvr:hover {
  background-color: var(--light-blue-accent-1) !important;
}

.bg-light-blue-accent-2-hvr:hover {
  background-color: var(--light-blue-accent-2) !important;
}

.bg-light-blue-accent-3-hvr:hover {
  background-color: var(--light-blue-accent-3) !important;
}

.bg-light-blue-accent-4-hvr:hover {
  background-color: var(--light-blue-accent-4) !important;
}

.bg-cyan-hvr:hover {
  background-color: var(--cyan) !important;
}

.bg-cyan-lighten-5-hvr:hover {
  background-color: var(--cyan-lighten-5) !important;
}

.bg-cyan-lighten-4-hvr:hover {
  background-color: var(--cyan-lighten-4) !important;
}

.bg-cyan-lighten-3-hvr:hover {
  background-color: var(--cyan-lighten-3) !important;
}

.bg-cyan-lighten-2-hvr:hover {
  background-color: var(--cyan-lighten-2) !important;
}

.bg-cyan-lighten-1-hvr:hover {
  background-color: var(--cyan-lighten-1) !important;
}

.bg-cyan-darken-1-hvr:hover {
  background-color: var(--cyan-darken-1) !important;
}

.bg-cyan-darken-2-hvr:hover {
  background-color: var(--cyan-darken-2) !important;
}

.bg-cyan-darken-3-hvr:hover {
  background-color: var(--cyan-darken-3) !important;
}

.bg-cyan-darken-4-hvr:hover {
  background-color: var(--cyan-darken-4) !important;
}

.bg-cyan-accent-1-hvr:hover {
  background-color: var(--cyan-accent-1) !important;
}

.bg-cyan-accent-2-hvr:hover {
  background-color: var(--cyan-accent-2) !important;
}

.bg-cyan-accent-3-hvr:hover {
  background-color: var(--cyan-accent-3) !important;
}

.bg-cyan-accent-4-hvr:hover {
  background-color: var(--cyan-accent-4) !important;
}

.bg-teal-hvr:hover {
  background-color: var(--teal) !important;
}

.bg-teal-lighten-5-hvr:hover {
  background-color: var(--teal-lighten-5) !important;
}

.bg-teal-lighten-4-hvr:hover {
  background-color: var(--teal-lighten-4) !important;
}

.bg-teal-lighten-3-hvr:hover {
  background-color: var(--teal-lighten-3) !important;
}

.bg-teal-lighten-2-hvr:hover {
  background-color: var(--teal-lighten-2) !important;
}

.bg-teal-lighten-1-hvr:hover {
  background-color: var(--teal-lighten-1) !important;
}

.bg-teal-darken-1-hvr:hover {
  background-color: var(--teal-darken-1) !important;
}

.bg-teal-darken-2-hvr:hover {
  background-color: var(--teal-darken-2) !important;
}

.bg-teal-darken-3-hvr:hover {
  background-color: var(--teal-darken-3) !important;
}

.bg-teal-darken-4-hvr:hover {
  background-color: var(--teal-darken-4) !important;
}

.bg-teal-accent-1-hvr:hover {
  background-color: var(--teal-accent-1) !important;
}

.bg-teal-accent-2-hvr:hover {
  background-color: var(--teal-accent-2) !important;
}

.bg-teal-accent-3-hvr:hover {
  background-color: var(--teal-accent-3) !important;
}

.bg-teal-accent-4-hvr:hover {
  background-color: var(--teal-accent-4) !important;
}

.bg-green-hvr:hover {
  background-color: var(--green) !important;
}

.bg-green-lighten-5-hvr:hover {
  background-color: var(--green-lighten-5) !important;
}

.bg-green-lighten-4-hvr:hover {
  background-color: var(--green-lighten-4) !important;
}

.bg-green-lighten-3-hvr:hover {
  background-color: var(--green-lighten-3) !important;
}

.bg-green-lighten-2-hvr:hover {
  background-color: var(--green-lighten-2) !important;
}

.bg-green-lighten-1-hvr:hover {
  background-color: var(--green-lighten-1) !important;
}

.bg-green-darken-1-hvr:hover {
  background-color: var(--green-darken-1) !important;
}

.bg-green-darken-2-hvr:hover {
  background-color: var(--green-darken-2) !important;
}

.bg-green-darken-3-hvr:hover {
  background-color: var(--green-darken-3) !important;
}

.bg-green-darken-4-hvr:hover {
  background-color: var(--green-darken-4) !important;
}

.bg-green-accent-1-hvr:hover {
  background-color: var(--green-accent-1) !important;
}

.bg-green-accent-2-hvr:hover {
  background-color: var(--green-accent-2) !important;
}

.bg-green-accent-3-hvr:hover {
  background-color: var(--green-accent-3) !important;
}

.bg-green-accent-4-hvr:hover {
  background-color: var(--green-accent-4) !important;
}

.bg-light-green-hvr:hover {
  background-color: var(--light-green) !important;
}

.bg-light-green-lighten-5-hvr:hover {
  background-color: var(--light-green-lighten-5) !important;
}

.bg-light-green-lighten-4-hvr:hover {
  background-color: var(--light-green-lighten-4) !important;
}

.bg-light-green-lighten-3-hvr:hover {
  background-color: var(--light-green-lighten-3) !important;
}

.bg-light-green-lighten-2-hvr:hover {
  background-color: var(--light-green-lighten-2) !important;
}

.bg-light-green-lighten-1-hvr:hover {
  background-color: var(--light-green-lighten-1) !important;
}

.bg-light-green-darken-1-hvr:hover {
  background-color: var(--light-green-darken-1) !important;
}

.bg-light-green-darken-2-hvr:hover {
  background-color: var(--light-green-darken-2) !important;
}

.bg-light-green-darken-3-hvr:hover {
  background-color: var(--light-green-darken-3) !important;
}

.bg-light-green-darken-4-hvr:hover {
  background-color: var(--light-green-darken-4) !important;
}

.bg-light-green-accent-1-hvr:hover {
  background-color: var(--light-green-accent-1) !important;
}

.bg-light-green-accent-2-hvr:hover {
  background-color: var(--light-green-accent-2) !important;
}

.bg-light-green-accent-3-hvr:hover {
  background-color: var(--light-green-accent-3) !important;
}

.bg-light-green-accent-4-hvr:hover {
  background-color: var(--light-green-accent-4) !important;
}

.bg-lime-hvr:hover {
  background-color: var(--lime) !important;
}

.bg-lime-lighten-5-hvr:hover {
  background-color: var(--lime-lighten-5) !important;
}

.bg-lime-lighten-4-hvr:hover {
  background-color: var(--lime-lighten-4) !important;
}

.bg-lime-lighten-3-hvr:hover {
  background-color: var(--lime-lighten-3) !important;
}

.bg-lime-lighten-2-hvr:hover {
  background-color: var(--lime-lighten-2) !important;
}

.bg-lime-lighten-1-hvr:hover {
  background-color: var(--lime-lighten-1) !important;
}

.bg-lime-darken-1-hvr:hover {
  background-color: var(--lime-darken-1) !important;
}

.bg-lime-darken-2-hvr:hover {
  background-color: var(--lime-darken-2) !important;
}

.bg-lime-darken-3-hvr:hover {
  background-color: var(--lime-darken-3) !important;
}

.bg-lime-darken-4-hvr:hover {
  background-color: var(--lime-darken-4) !important;
}

.bg-lime-accent-1-hvr:hover {
  background-color: var(--lime-accent-1) !important;
}

.bg-lime-accent-2-hvr:hover {
  background-color: var(--lime-accent-2) !important;
}

.bg-lime-accent-3-hvr:hover {
  background-color: var(--lime-accent-3) !important;
}

.bg-lime-accent-4-hvr:hover {
  background-color: var(--lime-accent-4) !important;
}

.bg-yellow-hvr:hover {
  background-color: var(--yellow) !important;
}

.bg-yellow-lighten-5-hvr:hover {
  background-color: var(--yellow-lighten-5) !important;
}

.bg-yellow-lighten-4-hvr:hover {
  background-color: var(--yellow-lighten-4) !important;
}

.bg-yellow-lighten-3-hvr:hover {
  background-color: var(--yellow-lighten-3) !important;
}

.bg-yellow-lighten-2-hvr:hover {
  background-color: var(--yellow-lighten-2) !important;
}

.bg-yellow-lighten-1-hvr:hover {
  background-color: var(--yellow-lighten-1) !important;
}

.bg-yellow-darken-1-hvr:hover {
  background-color: var(--yellow-darken-1) !important;
}

.bg-yellow-darken-2-hvr:hover {
  background-color: var(--yellow-darken-2) !important;
}

.bg-yellow-darken-3-hvr:hover {
  background-color: var(--yellow-darken-3) !important;
}

.bg-yellow-darken-4-hvr:hover {
  background-color: var(--yellow-darken-4) !important;
}

.bg-yellow-accent-1-hvr:hover {
  background-color: var(--yellow-accent-1) !important;
}

.bg-yellow-accent-2-hvr:hover {
  background-color: var(--yellow-accent-2) !important;
}

.bg-yellow-accent-3-hvr:hover {
  background-color: var(--yellow-accent-3) !important;
}

.bg-yellow-accent-4-hvr:hover {
  background-color: var(--yellow-accent-4) !important;
}

.bg-amber-hvr:hover {
  background-color: var(--amber) !important;
}

.bg-amber-lighten-5-hvr:hover {
  background-color: var(--amber-lighten-5) !important;
}

.bg-amber-lighten-4-hvr:hover {
  background-color: var(--amber-lighten-4) !important;
}

.bg-amber-lighten-3-hvr:hover {
  background-color: var(--amber-lighten-3) !important;
}

.bg-amber-lighten-2-hvr:hover {
  background-color: var(--amber-lighten-2) !important;
}

.bg-amber-lighten-1-hvr:hover {
  background-color: var(--amber-lighten-1) !important;
}

.bg-amber-darken-1-hvr:hover {
  background-color: var(--amber-darken-1) !important;
}

.bg-amber-darken-2-hvr:hover {
  background-color: var(--amber-darken-2) !important;
}

.bg-amber-darken-3-hvr:hover {
  background-color: var(--amber-darken-3) !important;
}

.bg-amber-darken-4-hvr:hover {
  background-color: var(--amber-darken-4) !important;
}

.bg-amber-accent-1-hvr:hover {
  background-color: var(--amber-accent-1) !important;
}

.bg-amber-accent-2-hvr:hover {
  background-color: var(--amber-accent-2) !important;
}

.bg-amber-accent-3-hvr:hover {
  background-color: var(--amber-accent-3) !important;
}

.bg-amber-accent-4-hvr:hover {
  background-color: var(--amber-accent-4) !important;
}

.bg-orange-hvr:hover {
  background-color: var(--orange) !important;
}

.bg-orange-lighten-5-hvr:hover {
  background-color: var(--orange-lighten-5) !important;
}

.bg-orange-lighten-4-hvr:hover {
  background-color: var(--orange-lighten-4) !important;
}

.bg-orange-lighten-3-hvr:hover {
  background-color: var(--orange-lighten-3) !important;
}

.bg-orange-lighten-2-hvr:hover {
  background-color: var(--orange-lighten-2) !important;
}

.bg-orange-lighten-1-hvr:hover {
  background-color: var(--orange-lighten-1) !important;
}

.bg-orange-darken-1-hvr:hover {
  background-color: var(--orange-darken-1) !important;
}

.bg-orange-darken-2-hvr:hover {
  background-color: var(--orange-darken-2) !important;
}

.bg-orange-darken-3-hvr:hover {
  background-color: var(--orange-darken-3) !important;
}

.bg-orange-darken-4-hvr:hover {
  background-color: var(--orange-darken-4) !important;
}

.bg-orange-accent-1-hvr:hover {
  background-color: var(--orange-accent-1) !important;
}

.bg-orange-accent-2-hvr:hover {
  background-color: var(--orange-accent-2) !important;
}

.bg-orange-accent-3-hvr:hover {
  background-color: var(--orange-accent-3) !important;
}

.bg-orange-accent-4-hvr:hover {
  background-color: var(--orange-accent-4) !important;
}

.bg-deep-orange-hvr:hover {
  background-color: var(--deep-orange) !important;
}

.bg-deep-orange-lighten-5-hvr:hover {
  background-color: var(--deep-orange-lighten-5) !important;
}

.bg-deep-orange-lighten-4-hvr:hover {
  background-color: var(--deep-orange-lighten-4) !important;
}

.bg-deep-orange-lighten-3-hvr:hover {
  background-color: var(--deep-orange-lighten-3) !important;
}

.bg-deep-orange-lighten-2-hvr:hover {
  background-color: var(--deep-orange-lighten-2) !important;
}

.bg-deep-orange-lighten-1-hvr:hover {
  background-color: var(--deep-orange-lighten-1) !important;
}

.bg-deep-orange-darken-1-hvr:hover {
  background-color: var(--deep-orange-darken-1) !important;
}

.bg-deep-orange-darken-2-hvr:hover {
  background-color: var(--deep-orange-darken-2) !important;
}

.bg-deep-orange-darken-3-hvr:hover {
  background-color: var(--deep-orange-darken-3) !important;
}

.bg-deep-orange-darken-4-hvr:hover {
  background-color: var(--deep-orange-darken-4) !important;
}

.bg-deep-orange-accent-1-hvr:hover {
  background-color: var(--deep-orange-accent-1) !important;
}

.bg-deep-orange-accent-2-hvr:hover {
  background-color: var(--deep-orange-accent-2) !important;
}

.bg-deep-orange-accent-3-hvr:hover {
  background-color: var(--deep-orange-accent-3) !important;
}

.bg-deep-orange-accent-4-hvr:hover {
  background-color: var(--deep-orange-accent-4) !important;
}

.bg-brown-hvr:hover {
  background-color: var(--brown) !important;
}

.bg-brown-lighten-5-hvr:hover {
  background-color: var(--brown-lighten-5) !important;
}

.bg-brown-lighten-4-hvr:hover {
  background-color: var(--brown-lighten-4) !important;
}

.bg-brown-lighten-3-hvr:hover {
  background-color: var(--brown-lighten-3) !important;
}

.bg-brown-lighten-2-hvr:hover {
  background-color: var(--brown-lighten-2) !important;
}

.bg-brown-lighten-1-hvr:hover {
  background-color: var(--brown-lighten-1) !important;
}

.bg-brown-darken-1-hvr:hover {
  background-color: var(--brown-darken-1) !important;
}

.bg-brown-darken-2-hvr:hover {
  background-color: var(--brown-darken-2) !important;
}

.bg-brown-darken-3-hvr:hover {
  background-color: var(--brown-darken-3) !important;
}

.bg-brown-darken-4-hvr:hover {
  background-color: var(--brown-darken-4) !important;
}

.bg-blue-grey-hvr:hover {
  background-color: var(--blue-grey) !important;
}

.bg-blue-grey-lighten-5-hvr:hover {
  background-color: var(--blue-grey-lighten-5) !important;
}

.bg-blue-grey-lighten-4-hvr:hover {
  background-color: var(--blue-grey-lighten-4) !important;
}

.bg-blue-grey-lighten-3-hvr:hover {
  background-color: var(--blue-grey-lighten-3) !important;
}

.bg-blue-grey-lighten-2-hvr:hover {
  background-color: var(--blue-grey-lighten-2) !important;
}

.bg-blue-grey-lighten-1-hvr:hover {
  background-color: var(--blue-grey-lighten-1) !important;
}

.bg-blue-grey-darken-1-hvr:hover {
  background-color: var(--blue-grey-darken-1) !important;
}

.bg-blue-grey-darken-2-hvr:hover {
  background-color: var(--blue-grey-darken-2) !important;
}

.bg-blue-grey-darken-3-hvr:hover {
  background-color: var(--blue-grey-darken-3) !important;
}

.bg-blue-grey-darken-4-hvr:hover {
  background-color: var(--blue-grey-darken-4) !important;
}

.bg-grey-hvr:hover {
  background-color: var(--grey) !important;
}

.bg-grey-lighten-5-hvr:hover {
  background-color: var(--grey-lighten-5) !important;
}

.bg-grey-lighten-4-hvr:hover {
  background-color: var(--grey-lighten-4) !important;
}

.bg-grey-lighten-3-hvr:hover {
  background-color: var(--grey-lighten-3) !important;
}

.bg-grey-lighten-2-hvr:hover {
  background-color: var(--grey-lighten-2) !important;
}

.bg-grey-lighten-1-hvr:hover {
  background-color: var(--grey-lighten-1) !important;
}

.bg-grey-darken-1-hvr:hover {
  background-color: var(--grey-darken-1) !important;
}

.bg-grey-darken-2-hvr:hover {
  background-color: var(--grey-darken-2) !important;
}

.bg-grey-darken-3-hvr:hover {
  background-color: var(--grey-darken-3) !important;
}

.bg-grey-darken-4-hvr:hover {
  background-color: var(--grey-darken-4) !important;
}

.bg-black-hvr:hover {
  background-color: var(--black) !important;
}

.bg-white-hvr:hover {
  background-color: var(--white) !important;
}

.bg-transparent {
  background-color: transparent;
}
