.border {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.border-0 {
  border: 0 !important;
}

.border-top {
  border-top: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-end {
  border-right: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
}

.border-end-0 {
  border-right: 0 !important;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-start {
  border-left: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
}

.border-start-0 {
  border-left: 0 !important;
}

.border-primary {
  --bs-border-opacity: 1;
  border-color: rgba(
    var(--bs-primary-rgb),
    var(--bs-border-opacity)
  ) !important;
}

.border-secondary {
  --bs-border-opacity: 1;
  border-color: rgba(
    var(--bs-secondary-rgb),
    var(--bs-border-opacity)
  ) !important;
}

.border-success {
  --bs-border-opacity: 1;
  border-color: rgba(
    var(--bs-success-rgb),
    var(--bs-border-opacity)
  ) !important;
}

.border-info {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-info-rgb), var(--bs-border-opacity)) !important;
}

.border-warning {
  --bs-border-opacity: 1;
  border-color: rgba(
    var(--bs-warning-rgb),
    var(--bs-border-opacity)
  ) !important;
}

.border-danger {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-danger-rgb), var(--bs-border-opacity)) !important;
}

.border-light {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-light-rgb), var(--bs-border-opacity)) !important;
}

.border-dark {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
}

.border-white {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-white-rgb), var(--bs-border-opacity)) !important;
}


.border-1 {
  --bs-border-width: 1px;
}

.border-2 {
  --bs-border-width: 2px;
}

.border-3 {
  --bs-border-width: 3px;
}

.border-4 {
  --bs-border-width: 4px;
}

.border-5 {
  --bs-border-width: 5px;
}

.border-opacity-10 {
  --bs-border-opacity: 0.1;
}

.border-opacity-25 {
  --bs-border-opacity: 0.25;
}

.border-opacity-50 {
  --bs-border-opacity: 0.5;
}

.border-opacity-75 {
  --bs-border-opacity: 0.75;
}

.border-opacity-100 {
  --bs-border-opacity: 1;
}


.rounded {
  border-radius: var(--bs-border-radius) !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-1 {
  border-radius: var(--bs-border-radius-sm) !important;
}

.rounded-2 {
  border-radius: var(--bs-border-radius) !important;
}

.rounded-3 {
  border-radius: var(--bs-border-radius-lg) !important;
}

.rounded-4 {
  border-radius: var(--bs-border-radius-xl) !important;
}

.rounded-5 {
  border-radius: var(--bs-border-radius-2xl) !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: var(--bs-border-radius-pill) !important;
}

.rounded-top {
  border-top-left-radius: var(--bs-border-radius) !important;
  border-top-right-radius: var(--bs-border-radius) !important;
}

.rounded-end {
  border-top-right-radius: var(--bs-border-radius) !important;
  border-bottom-right-radius: var(--bs-border-radius) !important;
}

.rounded-bottom {
  border-bottom-right-radius: var(--bs-border-radius) !important;
  border-bottom-left-radius: var(--bs-border-radius) !important;
}

.rounded-start {
  border-bottom-left-radius: var(--bs-border-radius) !important;
  border-top-left-radius: var(--bs-border-radius) !important;
}


.border-materialize-red {
   border-color: #e51c23;
}

.border-materialize-red-lighten-5 {
   border-color: #fdeaeb;
}

.border-materialize-red-lighten-4 {
   border-color: #f8c1c3;
}

.border-materialize-red-lighten-3 {
   border-color: #f3989b;
}

.border-materialize-red-lighten-2 {
   border-color: #ee6e73;
}

.border-materialize-red-lighten-1 {
   border-color: #ea454b;
}

.border-materialize-red-darken-1 {
   border-color: #d0181e;
}

.border-materialize-red-darken-2 {
   border-color: #b9151b;
}

.border-materialize-red-darken-3 {
   border-color: #a21318;
}

.border-materialize-red-darken-4 {
   border-color: #8b1014;
}

.border-red {
   border-color: #f44336;
}

.border-red-lighten-5 {
   border-color: #ffebee;
}

.border-red-lighten-4 {
   border-color: #ffcdd2;
}

.border-red-lighten-3 {
   border-color: #ef9a9a;
}

.border-red-lighten-2 {
   border-color: #e57373;
}

.border-red-lighten-1 {
   border-color: #ef5350;
}

.border-red-darken-1 {
   border-color: #e53935;
}

.border-red-darken-2 {
   border-color: #d32f2f;
}

.border-red-darken-3 {
   border-color: #c62828;
}

.border-red-darken-4 {
   border-color: #b71c1c;
}

.border-red-accent-1 {
   border-color: #ff8a80;
}

.border-red-accent-2 {
   border-color: #ff5252;
}

.border-red-accent-3 {
   border-color: #ff1744;
}

.border-red-accent-4 {
   border-color: #d50000;
}

.border-pink {
   border-color: #e91e63;
}

.border-pink-lighten-5 {
   border-color: #fce4ec;
}

.border-pink-lighten-4 {
   border-color: #f8bbd0;
}

.border-pink-lighten-3 {
   border-color: #f48fb1;
}

.border-pink-lighten-2 {
   border-color: #f06292;
}

.border-pink-lighten-1 {
   border-color: #ec407a;
}

.border-pink-darken-1 {
   border-color: #d81b60;
}

.border-pink-darken-2 {
   border-color: #c2185b;
}

.border-pink-darken-3 {
   border-color: #ad1457;
}

.border-pink-darken-4 {
   border-color: #880e4f;
}
.border-pink-accent-1 {
   border-color: #ff80ab;
}

.border-pink-accent-2 {
   border-color: #ff4081;
}

.border-pink-accent-3 {
   border-color: #f50057;
}

.border-pink-accent-4 {
   border-color: #c51162;
}

.border-purple {
   border-color: #9c27b0;
}

.border-purple-lighten-5 {
   border-color: #f3e5f5;
}

.border-purple-lighten-4 {
   border-color: #e1bee7;
}

.border-purple-lighten-3 {
   border-color: #ce93d8;
}

.border-purple-lighten-2 {
   border-color: #ba68c8;
}
.border-purple-lighten-1 {
   border-color: #ab47bc;
}

.border-purple-darken-1 {
   border-color: #8e24aa;
}

.border-purple-darken-2 {
   border-color: #7b1fa2;
}

.border-purple-darken-3 {
   border-color: #6a1b9a;
}

.border-purple-darken-4 {
   border-color: #4a148c;
}

.border-purple-accent-1 {
   border-color: #ea80fc;
}

.border-purple-accent-2 {
   border-color: #e040fb;
}

.border-purple-accent-3 {
   border-color: #d500f9;
}

.border-purple-accent-4 {
   border-color: #aa00ff;
}

.border-deep-purple {
   border-color: #673ab7;
}

.border-deep-purple-lighten-5 {
   border-color: #ede7f6;
}

.border-deep-purple-lighten-4 {
   border-color: #d1c4e9;
}

.border-deep-purple-lighten-3 {
   border-color: #b39ddb;
}

.border-deep-purple-lighten-2 {
   border-color: #9575cd;
}

.border-deep-purple-lighten-1 {
   border-color: #7e57c2;
}

.border-deep-purple-darken-1 {
   border-color: #5e35b1;
}

.border-deep-purple-darken-2 {
   border-color: #512da8;
}

.border-deep-purple-darken-3 {
   border-color: #4527a0;
}

.border-deep-purple-darken-4 {
   border-color: #311b92;
}

.border-deep-purple-accent-1 {
   border-color: #b388ff;
}

.border-deep-purple-accent-2 {
   border-color: #7c4dff;
}

.border-deep-purple-accent-3 {
   border-color: #651fff;
}

.border-deep-purple-accent-4 {
   border-color: #6200ea;
}

.border-indigo {
   border-color: #3f51b5;
}

.border-indigo-lighten-5 {
   border-color: #e8eaf6;
}

.border-indigo-lighten-4 {
   border-color: #c5cae9;
}

.border-indigo-lighten-3 {
   border-color: #9fa8da;
}

.border-indigo-lighten-2 {
   border-color: #7986cb;
}

.border-indigo-lighten-1 {
   border-color: #5c6bc0;
}

.border-indigo-darken-1 {
   border-color: #3949ab;
}

.border-indigo-darken-2 {
   border-color: #303f9f;
}

.border-indigo-darken-3 {
   border-color: #283593;
}

.border-indigo-darken-4 {
   border-color: #1a237e;
}

.border-indigo-accent-1 {
   border-color: #8c9eff;
}

.border-indigo-accent-2 {
   border-color: #536dfe;
}

.border-indigo-accent-3 {
   border-color: #3d5afe;
}

.border-indigo-accent-4 {
   border-color: #304ffe;
}

.border-blue {
   border-color: #2196f3;
}

.border-blue-lighten-5 {
   border-color: #e3f2fd;
}

.border-blue-lighten-4 {
   border-color: #bbdefb;
}

.border-blue-lighten-3 {
   border-color: #90caf9;
}

.border-blue-lighten-2 {
   border-color: #64b5f6;
}

.border-blue-lighten-1 {
   border-color: #42a5f5;
}

.border-blue-darken-1 {
   border-color: #1e88e5;
}

.border-blue-darken-2 {
   border-color: #1976d2;
}

.border-blue-darken-3 {
   border-color: #1565c0;
}

.border-blue-darken-4 {
   border-color: #0d47a1;
}

.border-blue-accent-1 {
   border-color: #82b1ff;
}

.border-blue-accent-2 {
   border-color: #448aff;
}

.border-blue-accent-3 {
   border-color: #2979ff;
}

.border-blue-accent-4 {
   border-color: #2962ff;
}

.border-light-blue {
   border-color: #03a9f4;
}

.border-light-blue-lighten-5 {
   border-color: #e1f5fe;
}

.border-light-blue-lighten-4 {
   border-color: #b3e5fc;
}

.border-light-blue-lighten-3 {
   border-color: #81d4fa;
}

.border-light-blue-lighten-2 {
   border-color: #4fc3f7;
}

.border-light-blue-lighten-1 {
   border-color: #29b6f6;
}

.border-light-blue-darken-1 {
   border-color: #039be5;
}

.border-light-blue-darken-2 {
   border-color: #0288d1;
}

.border-light-blue-darken-3 {
   border-color: #0277bd;
}

.border-light-blue-darken-4 {
   border-color: #01579b;
}

.border-light-blue-accent-1 {
   border-color: #80d8ff;
}

.border-light-blue-accent-2 {
   border-color: #40c4ff;
}

.border-light-blue-accent-3 {
   border-color: #00b0ff;
}

.border-light-blue-accent-4 {
   border-color: #0091ea;
}

.border-cyan {
   border-color: #00bcd4;
}

.border-cyan-lighten-5 {
   border-color: #e0f7fa;
}

.border-cyan-lighten-4 {
   border-color: #b2ebf2;
}

.border-cyan-lighten-3 {
   border-color: #80deea;
}

.border-cyan-lighten-2 {
   border-color: #4dd0e1;
}

.border-cyan-lighten-1 {
   border-color: #26c6da;
}

.border-cyan-darken-1 {
   border-color: #00acc1;
}

.border-cyan-darken-2 {
   border-color: #0097a7;
}

.border-cyan-darken-3 {
   border-color: #00838f;
}

.border-cyan-darken-4 {
   border-color: #006064;
}

.border-cyan-accent-1 {
   border-color: #84ffff;
}

.border-cyan-accent-2 {
   border-color: #18ffff;
}

.border-cyan-accent-3 {
   border-color: #00e5ff;
}

.border-cyan-accent-4 {
   border-color: #00b8d4;
}

.border-teal {
   border-color: #009688;
}

.border-teal-lighten-5 {
   border-color: #e0f2f1;
}

.border-teal-lighten-4 {
   border-color: #b2dfdb;
}

.border-teal-lighten-3 {
   border-color: #80cbc4;
}

.border-teal-lighten-2 {
   border-color: #4db6ac;
}

.border-teal-lighten-1 {
   border-color: #26a69a;
}

.border-teal-darken-1 {
   border-color: #00897b;
}

.border-teal-darken-2 {
   border-color: #00796b;
}

.border-teal-darken-3 {
   border-color: #00695c;
}

.border-teal-darken-4 {
   border-color: #004d40;
}

.border-teal-accent-1 {
   border-color: #a7ffeb;
}

.border-teal-accent-2 {
   border-color: #64ffda;
}

.border-teal-accent-3 {
   border-color: #1de9b6;
}

.border-teal-accent-4 {
   border-color: #00bfa5;
}

.border-green {
   border-color: #4caf50;
}

.border-green-lighten-5 {
   border-color: #e8f5e9;
}

.border-green-lighten-4 {
   border-color: #c8e6c9;
}

.border-green-lighten-3 {
   border-color: #a5d6a7;
}

.border-green-lighten-2 {
   border-color: #81c784;
}

.border-green-lighten-1 {
   border-color: #66bb6a;
}

.border-green-darken-1 {
   border-color: #43a047;
}

.border-green-darken-2 {
   border-color: #388e3c;
}

.border-green-darken-3 {
   border-color: #2e7d32;
}

.border-green-darken-4 {
   border-color: #1b5e20;
}

.border-green-accent-1 {
   border-color: #b9f6ca;
}

.border-green-accent-2 {
   border-color: #69f0ae;
}

.border-green-accent-3 {
   border-color: #00e676;
}

.border-green-accent-4 {
   border-color: #00c853;
}

.border-light-green {
   border-color: #8bc34a;
}

.border-light-green-lighten-5 {
   border-color: #f1f8e9;
}

.border-light-green-lighten-4 {
   border-color: #dcedc8;
}

.border-light-green-lighten-3 {
   border-color: #c5e1a5;
}

.border-light-green-lighten-2 {
   border-color: #aed581;
}

.border-light-green-lighten-1 {
   border-color: #9ccc65;
}

.border-light-green-darken-1 {
   border-color: #7cb342;
}

.border-light-green-darken-2 {
   border-color: #689f38;
}

.border-light-green-darken-3 {
   border-color: #558b2f;
}

.border-light-green-darken-4 {
   border-color: #33691e;
}

.border-light-green-accent-1 {
   border-color: #ccff90;
}

.border-light-green-accent-2 {
   border-color: #b2ff59;
}

.border-light-green-accent-3 {
   border-color: #76ff03;
}

.border-light-green-accent-4 {
   border-color: #64dd17;
}

.border-lime {
   border-color: #cddc39;
}

.border-lime-lighten-5 {
   border-color: #f9fbe7;
}

.border-lime-lighten-4 {
   border-color: #f0f4c3;
}

.border-lime-lighten-3 {
   border-color: #e6ee9c;
}

.border-lime-lighten-2 {
   border-color: #dce775;
}

.border-lime-lighten-1 {
   border-color: #d4e157;
}

.border-lime-darken-1 {
   border-color: #c0ca33;
}

.border-lime-darken-2 {
   border-color: #afb42b;
}

.border-lime-darken-3 {
   border-color: #9e9d24;
}

.border-lime-darken-4 {
   border-color: #827717;
}

.border-lime-accent-1 {
   border-color: #f4ff81;
}

.border-lime-accent-2 {
   border-color: #eeff41;
}

.border-lime-accent-3 {
   border-color: #c6ff00;
}

.border-lime-accent-4 {
   border-color: #aeea00;
}

.border-yellow {
   border-color: #ffeb3b;
}

.border-yellow-lighten-5 {
   border-color: #fffde7;
}

.border-yellow-lighten-4 {
   border-color: #fff9c4;
}

.border-yellow-lighten-3 {
   border-color: #fff59d;
}

.border-yellow-lighten-2 {
   border-color: #fff176;
}

.border-yellow-lighten-1 {
   border-color: #ffee58;
}

.border-yellow-darken-1 {
   border-color: #fdd835;
}

.border-yellow-darken-2 {
   border-color: #fbc02d;
}

.border-yellow-darken-3 {
   border-color: #f9a825;
}

.border-yellow-darken-4 {
   border-color: #f57f17;
}

.border-yellow-accent-1 {
   border-color: #ffff8d;
}

.border-yellow-accent-2 {
   border-color: #ffff00;
}

.border-yellow-accent-3 {
   border-color: #ffea00;
}

.border-yellow-accent-4 {
   border-color: #ffd600;
}

.border-amber {
   border-color: #ffc107;
}

.border-amber-lighten-5 {
   border-color: #fff8e1;
}

.border-amber-lighten-4 {
   border-color: #ffecb3;
}

.border-amber-lighten-3 {
   border-color: #ffe082;
}

.border-amber-lighten-2 {
   border-color: #ffd54f;
}

.border-amber-lighten-1 {
   border-color: #ffca28;
}

.border-amber-darken-1 {
   border-color: #ffb300;
}

.border-amber-darken-2 {
   border-color: #ffa000;
}

.border-amber-darken-3 {
   border-color: #ff8f00;
}

.border-amber-darken-4 {
   border-color: #ff6f00;
}

.border-amber-accent-1 {
   border-color: #ffe57f;
}

.border-amber-accent-2 {
   border-color: #ffd740;
}

.border-amber-accent-3 {
   border-color: #ffc400;
}

.border-amber-accent-4 {
   border-color: #ffab00;
}

.border-orange {
   border-color: #ff9800;
}

.border-orange-lighten-5 {
   border-color: #fff3e0;
}

.border-orange-lighten-4 {
   border-color: #ffe0b2;
}

.border-orange-lighten-3 {
   border-color: #ffcc80;
}

.border-orange-lighten-2 {
   border-color: #ffb74d;
}

.border-orange-lighten-1 {
   border-color: #ffa726;
}

.border-orange-darken-1 {
   border-color: #fb8c00;
}

.border-orange-darken-2 {
   border-color: #f57c00;
}

.border-orange-darken-3 {
   border-color: #ef6c00;
}

.border-orange-darken-4 {
   border-color: #e65100;
}

.border-orange-accent-1 {
   border-color: #ffd180;
}

.border-orange-accent-2 {
   border-color: #ffab40;
}

.border-orange-accent-3 {
   border-color: #ff9100;
}

.border-orange-accent-4 {
   border-color: #ff6d00;
}

.border-deep-orange {
   border-color: #ff5722;
}

.border-deep-orange-lighten-5 {
   border-color: #fbe9e7;
}

.border-deep-orange-lighten-4 {
   border-color: #ffccbc;
}

.border-deep-orange-lighten-3 {
   border-color: #ffab91;
}

.border-deep-orange-lighten-2 {
   border-color: #ff8a65;
}

.border-deep-orange-lighten-1 {
   border-color: #ff7043;
}

.border-deep-orange-darken-1 {
   border-color: #f4511e;
}

.border-deep-orange-darken-2 {
   border-color: #e64a19;
}

.border-deep-orange-darken-3 {
   border-color: #d84315;
}

.border-deep-orange-darken-4 {
   border-color: #bf360c;
}

.border-deep-orange-accent-1 {
   border-color: #ff9e80;
}

.border-deep-orange-accent-2 {
   border-color: #ff6e40;
}

.border-deep-orange-accent-3 {
   border-color: #ff3d00;
}

.border-deep-orange-accent-4 {
   border-color: #dd2c00;
}

.border-brown {
   border-color: #795548;
}

.border-brown-lighten-5 {
   border-color: #efebe9;
}

.border-brown-lighten-4 {
   border-color: #d7ccc8;
}

.border-brown-lighten-3 {
   border-color: #bcaaa4;
}

.border-brown-lighten-2 {
   border-color: #a1887f;
}

.border-brown-lighten-1 {
   border-color: #8d6e63;
}

.border-brown-darken-1 {
   border-color: #6d4c41;
}

.border-brown-darken-2 {
   border-color: #5d4037;
}

.border-brown-darken-3 {
   border-color: #4e342e;
}

.border-brown-darken-4 {
   border-color: #3e2723;
}

.border-blue-grey {
   border-color: #607d8b;
}

.border-blue-grey-lighten-5 {
   border-color: #eceff1;
}

.border-blue-grey-lighten-4 {
   border-color: #cfd8dc;
}

.border-blue-grey-lighten-3 {
   border-color: #b0bec5;
}

.border-blue-grey-lighten-2 {
   border-color: #90a4ae;
}

.border-blue-grey-lighten-1 {
   border-color: #78909c;
}

.border-blue-grey-darken-1 {
   border-color: #546e7a;
}

.border-blue-grey-darken-2 {
   border-color: #455a64;
}

.border-blue-grey-darken-3 {
   border-color: #37474f;
}

.border-blue-grey-darken-4 {
   border-color: #263238;
}

.border-grey {
   border-color: #9e9e9e;
}

.border-grey-lighten-5 {
   border-color: #fafafa;
}

.border-grey-lighten-4 {
   border-color: #f5f5f5;
}

.border-grey-lighten-3 {
   border-color: #eeeeee;
}

.border-grey-lighten-2 {
   border-color: #e0e0e0;
}

.border-grey-lighten-1 {
   border-color: #bdbdbd;
}

.border-grey-darken-1 {
   border-color: #757575;
}

.border-grey-darken-2 {
   border-color: #616161;
}

.border-grey-darken-3 {
   border-color: #424242;
}

.border-grey-darken-4 {
   border-color: #212121;
}

.border-black {
   border-color: #000000;
}

.border-white {
   border-color: #ffffff;
}