.border {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.border-0 {
  border: 0 !important;
}
.border-top {
  border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.border-top-0 {
  border-top: 0 !important;
}
.border-end {
  border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.border-end-0 {
  border-right: 0 !important;
}
.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.border-bottom-0 {
  border-bottom: 0 !important;
}
.border-start {
  border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.border-start-0 {
  border-left: 0 !important;
}
.border-primary {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;
}
.border-secondary {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-secondary-rgb), var(--bs-border-opacity)) !important;
}
.border-success {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}
.border-info {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-info-rgb), var(--bs-border-opacity)) !important;
}
.border-warning {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-warning-rgb), var(--bs-border-opacity)) !important;
}
.border-danger {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-danger-rgb), var(--bs-border-opacity)) !important;
}
.border-light {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-light-rgb), var(--bs-border-opacity)) !important;
}
.border-dark {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
}
.border-white {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-white-rgb), var(--bs-border-opacity)) !important;
}
.border-1 {
  --bs-border-width: 1px;
}
.border-2 {
  --bs-border-width: 2px;
}
.border-3 {
  --bs-border-width: 3px;
}
.border-4 {
  --bs-border-width: 4px;
}
.border-5 {
  --bs-border-width: 5px;
}
.border-opacity-10 {
  --bs-border-opacity: 0.1;
}
.border-opacity-25 {
  --bs-border-opacity: 0.25;
}
.border-opacity-50 {
  --bs-border-opacity: 0.5;
}
.border-opacity-75 {
  --bs-border-opacity: 0.75;
}
.border-opacity-100 {
  --bs-border-opacity: 1;
}

.rounded {
  border-radius: var(--bs-border-radius) !important;
}
.rounded-0 {
  border-radius: 0 !important;
}
.rounded-1 {
  border-radius: var(--bs-border-radius-sm) !important;
}
.rounded-2 {
  border-radius: var(--bs-border-radius) !important;
}
.rounded-3 {
  border-radius: var(--bs-border-radius-lg) !important;
}
.rounded-4 {
  border-radius: var(--bs-border-radius-xl) !important;
}
.rounded-5 {
  border-radius: var(--bs-border-radius-2xl) !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.rounded-pill {
  border-radius: var(--bs-border-radius-pill) !important;
}
.rounded-top {
  border-top-left-radius: var(--bs-border-radius) !important;
  border-top-right-radius: var(--bs-border-radius) !important;
}
.rounded-end {
  border-top-right-radius: var(--bs-border-radius) !important;
  border-bottom-right-radius: var(--bs-border-radius) !important;
}
.rounded-bottom {
  border-bottom-right-radius: var(--bs-border-radius) !important;
  border-bottom-left-radius: var(--bs-border-radius) !important;
}
.rounded-start {
  border-bottom-left-radius: var(--bs-border-radius) !important;
  border-top-left-radius: var(--bs-border-radius) !important;
}

.border-materialize-red {
  border-color: var(--materialize-red) !important;
}

.border-materialize-red-lighten-5 {
  border-color: var(--materialize-red-lighten-5) !important;
}

.border-materialize-red-lighten-4 {
  border-color: var(--materialize-red-lighten-4) !important;
}

.border-materialize-red-lighten-3 {
  border-color: var(--materialize-red-lighten-3) !important;
}

.border-materialize-red-lighten-2 {
  border-color: var(--materialize-red-lighten-2) !important;
}

.border-materialize-red-lighten-1 {
  border-color: var(--materialize-red-lighten-1) !important;
}

.border-materialize-red-darken-1 {
  border-color: var(--materialize-red-darken-1) !important;
}

.border-materialize-red-darken-2 {
  border-color: var(--materialize-red-darken-2) !important;
}

.border-materialize-red-darken-3 {
  border-color: var(--materialize-red-darken-3) !important;
}

.border-materialize-red-darken-4 {
  border-color: var(--materialize-red-darken-4) !important;
}

.border-red {
  border-color: var(--red) !important;
}

.border-red-lighten-5 {
  border-color: var(--red-lighten-5) !important;
}

.border-red-lighten-4 {
  border-color: var(--red-lighten-4) !important;
}

.border-red-lighten-3 {
  border-color: var(--red-lighten-3) !important;
}

.border-red-lighten-2 {
  border-color: var(--red-lighten-2) !important;
}

.border-red-lighten-1 {
  border-color: var(--red-lighten-1) !important;
}

.border-red-darken-1 {
  border-color: var(--red-darken-1) !important;
}

.border-red-darken-2 {
  border-color: var(--red-darken-2) !important;
}

.border-red-darken-3 {
  border-color: var(--red-darken-3) !important;
}

.border-red-darken-4 {
  border-color: var(--red-darken-4) !important;
}

.border-red-accent-1 {
  border-color: var(--red-accent-1) !important;
}

.border-red-accent-2 {
  border-color: var(--red-accent-2) !important;
}

.border-red-accent-3 {
  border-color: var(--red-accent-3) !important;
}

.border-red-accent-4 {
  border-color: var(--red-accent-4) !important;
}

.border-pink {
  border-color: var(--pink) !important;
}

.border-pink-lighten-5 {
  border-color: var(--pink-lighten-5) !important;
}

.border-pink-lighten-4 {
  border-color: var(--pink-lighten-4) !important;
}

.border-pink-lighten-3 {
  border-color: var(--pink-lighten-3) !important;
}

.border-pink-lighten-2 {
  border-color: var(--pink-lighten-2) !important;
}

.border-pink-lighten-1 {
  border-color: var(--pink-lighten-1) !important;
}

.border-pink-darken-1 {
  border-color: var(--pink-darken-1) !important;
}

.border-pink-darken-2 {
  border-color: var(--pink-darken-2) !important;
}

.border-pink-darken-3 {
  border-color: var(--pink-darken-3) !important;
}

.border-pink-darken-4 {
  border-color: var(--pink-darken-4) !important;
}
.border-pink-accent-1 {
  border-color: var(--pink-accent-1) !important;
}

.border-pink-accent-2 {
  border-color: var(--pink-accent-2) !important;
}

.border-pink-accent-3 {
  border-color: var(--pink-accent-3) !important;
}

.border-pink-accent-4 {
  border-color: var(--pink-accent-4) !important;
}

.border-purple {
  border-color: var(--purple) !important;
}

.border-purple-lighten-5 {
  border-color: var(--purple-lighten-5) !important;
}

.border-purple-lighten-4 {
  border-color: var(--purple-lighten-4) !important;
}

.border-purple-lighten-3 {
  border-color: var(--purple-lighten-3) !important;
}

.border-purple-lighten-2 {
  border-color: var(--purple-lighten-2) !important;
}
.border-purple-lighten-1 {
  border-color: var(--purple-lighten-1) !important;
}

.border-purple-darken-1 {
  border-color: var(--purple-darken-1) !important;
}

.border-purple-darken-2 {
  border-color: var(--purple-darken-2) !important;
}

.border-purple-darken-3 {
  border-color: var(--purple-darken-3) !important;
}

.border-purple-darken-4 {
  border-color: var(--purple-darken-4) !important;
}

.border-purple-accent-1 {
  border-color: var(--purple-accent-1) !important;
}

.border-purple-accent-2 {
  border-color: var(--purple-accent-2) !important;
}

.border-purple-accent-3 {
  border-color: var(--purple-accent-3) !important;
}

.border-purple-accent-4 {
  border-color: var(--purple-accent-4) !important;
}

.border-deep-purple {
  border-color: var(--deep-purple) !important;
}

.border-deep-purple-lighten-5 {
  border-color: var(--deep-purple-lighten-5) !important;
}

.border-deep-purple-lighten-4 {
  border-color: var(--deep-purple-lighten-4) !important;
}

.border-deep-purple-lighten-3 {
  border-color: var(--deep-purple-lighten-3) !important;
}

.border-deep-purple-lighten-2 {
  border-color: var(--deep-purple-lighten-2) !important;
}

.border-deep-purple-lighten-1 {
  border-color: var(--deep-purple-lighten-1) !important;
}

.border-deep-purple-darken-1 {
  border-color: var(--deep-purple-darken-1) !important;
}

.border-deep-purple-darken-2 {
  border-color: var(--deep-purple-darken-2) !important;
}

.border-deep-purple-darken-3 {
  border-color: var(--deep-purple-darken-3) !important;
}

.border-deep-purple-darken-4 {
  border-color: var(--deep-purple-darken-4) !important;
}

.border-deep-purple-accent-1 {
  border-color: var(--deep-purple-accent-1) !important;
}

.border-deep-purple-accent-2 {
  border-color: var(--deep-purple-accent-2) !important;
}

.border-deep-purple-accent-3 {
  border-color: var(--deep-purple-accent-3) !important;
}

.border-deep-purple-accent-4 {
  border-color: var(--deep-purple-accent-4) !important;
}

.border-indigo {
  border-color: var(--indigo) !important;
}

.border-indigo-lighten-5 {
  border-color: var(--indigo-lighten-5) !important;
}

.border-indigo-lighten-4 {
  border-color: var(--indigo-lighten-4) !important;
}

.border-indigo-lighten-3 {
  border-color: var(--indigo-lighten-3) !important;
}

.border-indigo-lighten-2 {
  border-color: var(--indigo-lighten-2) !important;
}

.border-indigo-lighten-1 {
  border-color: var(--indigo-lighten-1) !important;
}

.border-indigo-darken-1 {
  border-color: var(--indigo-darken-1) !important;
}

.border-indigo-darken-2 {
  border-color: var(--indigo-darken-2) !important;
}

.border-indigo-darken-3 {
  border-color: var(--indigo-darken-3) !important;
}

.border-indigo-darken-4 {
  border-color: var(--indigo-darken-4) !important;
}

.border-indigo-accent-1 {
  border-color: var(--indigo-accent-1) !important;
}

.border-indigo-accent-2 {
  border-color: var(--indigo-accent-2) !important;
}

.border-indigo-accent-3 {
  border-color: var(--indigo-accent-3) !important;
}

.border-indigo-accent-4 {
  border-color: var(--indigo-accent-4) !important;
}

.border-blue {
  border-color: var(--blue) !important;
}

.border-blue-lighten-5 {
  border-color: var(--blue-lighten-5) !important;
}

.border-blue-lighten-4 {
  border-color: var(--blue-lighten-4) !important;
}

.border-blue-lighten-3 {
  border-color: var(--blue-lighten-3) !important;
}

.border-blue-lighten-2 {
  border-color: var(--blue-lighten-2) !important;
}

.border-blue-lighten-1 {
  border-color: var(--blue-lighten-1) !important;
}

.border-blue-darken-1 {
  border-color: var(--blue-darken-1) !important;
}

.border-blue-darken-2 {
  border-color: var(--blue-darken-2) !important;
}

.border-blue-darken-3 {
  border-color: var(--blue-darken-3) !important;
}

.border-blue-darken-4 {
  --bs-border-color: var(--blue-darken-4) !important;
}

.border-blue-accent-1 {
  border-color: var(--blue-accent-1) !important;
}

.border-blue-accent-2 {
  border-color: var(--blue-accent-2) !important;
}

.border-blue-accent-3 {
  border-color: var(--blue-accent-3) !important;
}

.border-blue-accent-4 {
  border-color: var(--blue-accent-4) !important;
}

.border-light-blue {
  border-color: var(--light-blue) !important;
}

.border-light-blue-lighten-5 {
  border-color: var(--light-blue-lighten-5) !important;
}

.border-light-blue-lighten-4 {
  border-color: var(--light-blue-lighten-4) !important;
}

.border-light-blue-lighten-3 {
  border-color: var(--light-blue-lighten-3) !important;
}

.border-light-blue-lighten-2 {
  border-color: var(--light-blue-lighten-2) !important;
}

.border-light-blue-lighten-1 {
  border-color: var(--light-blue-lighten-1) !important;
}

.border-light-blue-darken-1 {
  border-color: var(--light-blue-darken-1) !important;
}

.border-light-blue-darken-2 {
  border-color: var(--light-blue-darken-2) !important;
}

.border-light-blue-darken-3 {
  border-color: var(--light-blue-darken-3) !important;
}

.border-light-blue-darken-4 {
  border-color: var(--light-blue-darken-4) !important;
}

.border-light-blue-accent-1 {
  border-color: var(--light-blue-accent-1) !important;
}

.border-light-blue-accent-2 {
  border-color: var(--light-blue-accent-2) !important;
}

.border-light-blue-accent-3 {
  border-color: var(--light-blue-accent-3) !important;
}

.border-light-blue-accent-4 {
  border-color: var(--light-blue-accent-4) !important;
}

.border-cyan {
  border-color: var(--cyan) !important;
}

.border-cyan-lighten-5 {
  border-color: var(--cyan-lighten-5) !important;
}

.border-cyan-lighten-4 {
  border-color: var(--cyan-lighten-4) !important;
}

.border-cyan-lighten-3 {
  border-color: var(--cyan-lighten-3) !important;
}

.border-cyan-lighten-2 {
  border-color: var(--cyan-lighten-2) !important;
}

.border-cyan-lighten-1 {
  border-color: var(--cyan-lighten-1) !important;
}

.border-cyan-darken-1 {
  border-color: var(--cyan-darken-1) !important;
}

.border-cyan-darken-2 {
  border-color: var(--cyan-darken-2) !important;
}

.border-cyan-darken-3 {
  border-color: var(--cyan-darken-3) !important;
}

.border-cyan-darken-4 {
  border-color: var(--cyan-darken-4) !important;
}

.border-cyan-accent-1 {
  border-color: var(--cyan-accent-1) !important;
}

.border-cyan-accent-2 {
  border-color: var(--cyan-accent-2) !important;
}

.border-cyan-accent-3 {
  border-color: var(--cyan-accent-3) !important;
}

.border-cyan-accent-4 {
  border-color: var(--cyan-accent-4) !important;
}

.border-teal {
  border-color: var(--teal) !important;
}

.border-teal-lighten-5 {
  border-color: var(--teal-lighten-5) !important;
}

.border-teal-lighten-4 {
  border-color: var(--teal-lighten-4) !important;
}

.border-teal-lighten-3 {
  border-color: var(--teal-lighten-3) !important;
}

.border-teal-lighten-2 {
  border-color: var(--teal-lighten-2) !important;
}

.border-teal-lighten-1 {
  border-color: var(--teal-lighten-1) !important;
}

.border-teal-darken-1 {
  border-color: var(--teal-darken-1) !important;
}

.border-teal-darken-2 {
  border-color: var(--teal-darken-2) !important;
}

.border-teal-darken-3 {
  border-color: var(--teal-darken-3) !important;
}

.border-teal-darken-4 {
  border-color: var(--teal-darken-4) !important;
}

.border-teal-accent-1 {
  border-color: var(--teal-accent-1) !important;
}

.border-teal-accent-2 {
  border-color: var(--teal-accent-2) !important;
}

.border-teal-accent-3 {
  border-color: var(--teal-accent-3) !important;
}

.border-teal-accent-4 {
  border-color: var(--teal-accent-4) !important;
}

.border-green {
  border-color: var(--green) !important;
}

.border-green-lighten-5 {
  border-color: var(--green-lighten-5) !important;
}

.border-green-lighten-4 {
  border-color: var(--green-lighten-4) !important;
}

.border-green-lighten-3 {
  border-color: var(--green-lighten-3) !important;
}

.border-green-lighten-2 {
  border-color: var(--green-lighten-2) !important;
}

.border-green-lighten-1 {
  border-color: var(--green-lighten-1) !important;
}

.border-green-darken-1 {
  border-color: var(--green-darken-1) !important;
}

.border-green-darken-2 {
  border-color: var(--green-darken-2) !important;
}

.border-green-darken-3 {
  border-color: var(--green-darken-3) !important;
}

.border-green-darken-4 {
  border-color: var(--green-darken-4) !important;
}

.border-green-accent-1 {
  border-color: var(--green-accent-1) !important;
}

.border-green-accent-2 {
  border-color: var(--green-accent-2) !important;
}

.border-green-accent-3 {
  border-color: var(--green-accent-3) !important;
}

.border-green-accent-4 {
  border-color: var(--green-accent-4) !important;
}

.border-light-green {
  border-color: var(--light-green) !important;
}

.border-light-green-lighten-5 {
  border-color: var(--light-green-lighten-5) !important;
}

.border-light-green-lighten-4 {
  border-color: var(--light-green-lighten-4) !important;
}

.border-light-green-lighten-3 {
  border-color: var(--light-green-lighten-3) !important;
}

.border-light-green-lighten-2 {
  border-color: var(--light-green-lighten-2) !important;
}

.border-light-green-lighten-1 {
  border-color: var(--light-green-lighten-1) !important;
}

.border-light-green-darken-1 {
  border-color: var(--light-green-darken-1) !important;
}

.border-light-green-darken-2 {
  border-color: var(--light-green-darken-2) !important;
}

.border-light-green-darken-3 {
  border-color: var(--light-green-darken-3) !important;
}

.border-light-green-darken-4 {
  border-color: var(--light-green-darken-4) !important;
}

.border-light-green-accent-1 {
  border-color: var(--light-green-accent-1) !important;
}

.border-light-green-accent-2 {
  border-color: var(--light-green-accent-2) !important;
}

.border-light-green-accent-3 {
  border-color: var(--light-green-accent-3) !important;
}

.border-light-green-accent-4 {
  border-color: var(--light-green-accent-4) !important;
}

.border-lime {
  border-color: var(--lime) !important;
}

.border-lime-lighten-5 {
  border-color: var(--lime-lighten-5) !important;
}

.border-lime-lighten-4 {
  border-color: var(--lime-lighten-4) !important;
}

.border-lime-lighten-3 {
  border-color: var(--lime-lighten-3) !important;
}

.border-lime-lighten-2 {
  border-color: var(--lime-lighten-2) !important;
}

.border-lime-lighten-1 {
  border-color: var(--lime-lighten-1) !important;
}

.border-lime-darken-1 {
  border-color: var(--lime-darken-1) !important;
}

.border-lime-darken-2 {
  border-color: var(--lime-darken-2) !important;
}

.border-lime-darken-3 {
  border-color: var(--lime-darken-3) !important;
}

.border-lime-darken-4 {
  border-color: var(--lime-darken-4) !important;
}

.border-lime-accent-1 {
  border-color: var(--lime-accent-1) !important;
}

.border-lime-accent-2 {
  border-color: var(--lime-accent-2) !important;
}

.border-lime-accent-3 {
  border-color: var(--lime-accent-3) !important;
}

.border-lime-accent-4 {
  border-color: var(--lime-accent-4) !important;
}

.border-yellow {
  border-color: var(--yellow) !important;
}

.border-yellow-lighten-5 {
  border-color: var(--yellow-lighten-5) !important;
}

.border-yellow-lighten-4 {
  border-color: var(--yellow-lighten-4) !important;
}

.border-yellow-lighten-3 {
  border-color: var(--yellow-lighten-3) !important;
}

.border-yellow-lighten-2 {
  border-color: var(--yellow-lighten-2) !important;
}

.border-yellow-lighten-1 {
  border-color: var(--yellow-lighten-1) !important;
}

.border-yellow-darken-1 {
  border-color: var(--yellow-darken-1) !important;
}

.border-yellow-darken-2 {
  border-color: var(--yellow-darken-2) !important;
}

.border-yellow-darken-3 {
  border-color: var(--yellow-darken-3) !important;
}

.border-yellow-darken-4 {
  border-color: var(--yellow-darken-4) !important;
}

.border-yellow-accent-1 {
  border-color: var(--yellow-accent-1) !important;
}

.border-yellow-accent-2 {
  border-color: var(--yellow-accent-2) !important;
}

.border-yellow-accent-3 {
  border-color: var(--yellow-accent-3) !important;
}

.border-yellow-accent-4 {
  border-color: var(--yellow-accent-4) !important;
}

.border-amber {
  border-color: var(--amber) !important;
}

.border-amber-lighten-5 {
  border-color: var(--amber-lighten-5) !important;
}

.border-amber-lighten-4 {
  border-color: var(--amber-lighten-4) !important;
}

.border-amber-lighten-3 {
  border-color: var(--amber-lighten-3) !important;
}

.border-amber-lighten-2 {
  border-color: var(--amber-lighten-2) !important;
}

.border-amber-lighten-1 {
  border-color: var(--amber-lighten-1) !important;
}

.border-amber-darken-1 {
  border-color: var(--amber-darken-1) !important;
}

.border-amber-darken-2 {
  border-color: var(--amber-darken-2) !important;
}

.border-amber-darken-3 {
  border-color: var(--amber-darken-3) !important;
}

.border-amber-darken-4 {
  border-color: var(--amber-darken-4) !important;
}

.border-amber-accent-1 {
  border-color: var(--amber-accent-1) !important;
}

.border-amber-accent-2 {
  border-color: var(--amber-accent-2) !important;
}

.border-amber-accent-3 {
  border-color: var(--amber-accent-3) !important;
}

.border-amber-accent-4 {
  border-color: var(--amber-accent-4) !important;
}

.border-orange {
  border-color: var(--orange) !important;
}

.border-orange-lighten-5 {
  border-color: var(--orange-lighten-5) !important;
}

.border-orange-lighten-4 {
  border-color: var(--orange-lighten-4) !important;
}

.border-orange-lighten-3 {
  border-color: var(--orange-lighten-3) !important;
}

.border-orange-lighten-2 {
  border-color: var(--orange-lighten-2) !important;
}

.border-orange-lighten-1 {
  border-color: var(--orange-lighten-1) !important;
}

.border-orange-darken-1 {
  border-color: var(--orange-darken-1) !important;
}

.border-orange-darken-2 {
  border-color: var(--orange-darken-2) !important;
}

.border-orange-darken-3 {
  border-color: var(--orange-darken-3) !important;
}

.border-orange-darken-4 {
  border-color: var(--orange-darken-4) !important;
}

.border-orange-accent-1 {
  border-color: var(--orange-accent-1) !important;
}

.border-orange-accent-2 {
  border-color: var(--orange-accent-2) !important;
}

.border-orange-accent-3 {
  border-color: var(--orange-accent-3) !important;
}

.border-orange-accent-4 {
  border-color: var(--orange-accent-4) !important;
}

.border-deep-orange {
  border-color: var(--deep-orange) !important;
}

.border-deep-orange-lighten-5 {
  border-color: var(--deep-orange-lighten-5) !important;
}

.border-deep-orange-lighten-4 {
  border-color: var(--deep-orange-lighten-4) !important;
}

.border-deep-orange-lighten-3 {
  border-color: var(--deep-orange-lighten-3) !important;
}

.border-deep-orange-lighten-2 {
  border-color: var(--deep-orange-lighten-2) !important;
}

.border-deep-orange-lighten-1 {
  border-color: var(--deep-orange-lighten-1) !important;
}

.border-deep-orange-darken-1 {
  border-color: var(--deep-orange-darken-1) !important;
}

.border-deep-orange-darken-2 {
  border-color: var(--deep-orange-darken-2) !important;
}

.border-deep-orange-darken-3 {
  border-color: var(--deep-orange-darken-3) !important;
}

.border-deep-orange-darken-4 {
  border-color: var(--deep-orange-darken-4) !important;
}

.border-deep-orange-accent-1 {
  border-color: var(--deep-orange-accent-1) !important;
}

.border-deep-orange-accent-2 {
  border-color: var(--deep-orange-accent-2) !important;
}

.border-deep-orange-accent-3 {
  border-color: var(--deep-orange-accent-3) !important;
}

.border-deep-orange-accent-4 {
  border-color: var(--deep-orange-accent-4) !important;
}

.border-brown {
  border-color: var(--brown) !important;
}

.border-brown-lighten-5 {
  border-color: var(--brown-lighten-5) !important;
}

.border-brown-lighten-4 {
  border-color: var(--brown-lighten-4) !important;
}

.border-brown-lighten-3 {
  border-color: var(--brown-lighten-3) !important;
}

.border-brown-lighten-2 {
  border-color: var(--brown-lighten-2) !important;
}

.border-brown-lighten-1 {
  border-color: var(--brown-lighten-1) !important;
}

.border-brown-darken-1 {
  border-color: var(--brown-darken-1) !important;
}

.border-brown-darken-2 {
  border-color: var(--brown-darken-2) !important;
}

.border-brown-darken-3 {
  border-color: var(--brown-darken-3) !important;
}

.border-brown-darken-4 {
  border-color: var(--brown-darken-4) !important;
}

.border-blue-grey {
  border-color: var(--blue-grey) !important;
}

.border-blue-grey-lighten-5 {
  border-color: var(--blue-grey-lighten-5) !important;
}

.border-blue-grey-lighten-4 {
  border-color: var(--blue-grey-lighten-4) !important;
}

.border-blue-grey-lighten-3 {
  border-color: var(--blue-grey-lighten-3) !important;
}

.border-blue-grey-lighten-2 {
  border-color: var(--blue-grey-lighten-2) !important;
}

.border-blue-grey-lighten-1 {
  border-color: var(--blue-grey-lighten-1) !important;
}

.border-blue-grey-darken-1 {
  border-color: var(--blue-grey-darken-1) !important;
}

.border-blue-grey-darken-2 {
  border-color: var(--blue-grey-darken-2) !important;
}

.border-blue-grey-darken-3 {
  border-color: var(--blue-grey-darken-3) !important;
}

.border-blue-grey-darken-4 {
  border-color: var(--blue-grey-darken-4) !important;
}

.border-grey {
  border-color: var(--grey) !important;
}

.border-grey-lighten-5 {
  border-color: var(--grey-lighten-5) !important;
}

.border-grey-lighten-4 {
  border-color: var(--grey-lighten-4) !important;
}

.border-grey-lighten-3 {
  border-color: var(--grey-lighten-3) !important;
}

.border-grey-lighten-2 {
  border-color: var(--grey-lighten-2) !important;
}

.border-grey-lighten-1 {
  border-color: var(--grey-lighten-1) !important;
}

.border-grey-darken-1 {
  border-color: var(--grey-darken-1) !important;
}

.border-grey-darken-2 {
  border-color: var(--grey-darken-2) !important;
}

.border-grey-darken-3 {
  border-color: var(--grey-darken-3) !important;
}

.border-grey-darken-4 {
  border-color: var(--grey-darken-4) !important;
}

.border-black {
  border-color: var(--black) !important;
}

.border-white {
  border-color: var(--white) !important;
}

.border-transparent {
  border-color: transparent;
}

.border-materialize-red-hvr:hover {
  border-color: var(--materialize-red) !important;
}

.border-materialize-red-lighten-5-hvr:hover {
  border-color: var(--materialize-red-lighten-5) !important;
}

.border-materialize-red-lighten-4-hvr:hover {
  border-color: var(--materialize-red-lighten-4) !important;
}

.border-materialize-red-lighten-3-hvr:hover {
  border-color: var(--materialize-red-lighten-3) !important;
}

.border-materialize-red-lighten-2-hvr:hover {
  border-color: var(--materialize-red-lighten-2) !important;
}

.border-materialize-red-lighten-1-hvr:hover {
  border-color: var(--materialize-red-lighten-1) !important;
}

.border-materialize-red-darken-1-hvr:hover {
  border-color: var(--materialize-red-darken-1) !important;
}

.border-materialize-red-darken-2-hvr:hover {
  border-color: var(--materialize-red-darken-2) !important;
}

.border-materialize-red-darken-3-hvr:hover {
  border-color: var(--materialize-red-darken-3) !important;
}

.border-materialize-red-darken-4-hvr:hover {
  border-color: var(--materialize-red-darken-4) !important;
}

.border-red-hvr:hover {
  border-color: var(--red) !important;
}

.border-red-lighten-5-hvr:hover {
  border-color: var(--red-lighten-5) !important;
}

.border-red-lighten-4-hvr:hover {
  border-color: var(--red-lighten-4) !important;
}

.border-red-lighten-3-hvr:hover {
  border-color: var(--red-lighten-3) !important;
}

.border-red-lighten-2-hvr:hover {
  border-color: var(--red-lighten-2) !important;
}

.border-red-lighten-1-hvr:hover {
  border-color: var(--red-lighten-1) !important;
}

.border-red-darken-1-hvr:hover {
  border-color: var(--red-darken-1) !important;
}

.border-red-darken-2-hvr:hover {
  border-color: var(--red-darken-2) !important;
}

.border-red-darken-3-hvr:hover {
  border-color: var(--red-darken-3) !important;
}

.border-red-darken-4-hvr:hover {
  border-color: var(--red-darken-4) !important;
}

.border-red-accent-1-hvr:hover {
  border-color: var(--red-accent-1) !important;
}

.border-red-accent-2-hvr:hover {
  border-color: var(--red-accent-2) !important;
}

.border-red-accent-3-hvr:hover {
  border-color: var(--red-accent-3) !important;
}

.border-red-accent-4-hvr:hover {
  border-color: var(--red-accent-4) !important;
}

.border-pink-hvr:hover {
  border-color: var(--pink) !important;
}

.border-pink-lighten-5-hvr:hover {
  border-color: var(--pink-lighten-5) !important;
}

.border-pink-lighten-4-hvr:hover {
  border-color: var(--pink-lighten-4) !important;
}

.border-pink-lighten-3-hvr:hover {
  border-color: var(--pink-lighten-3) !important;
}

.border-pink-lighten-2-hvr:hover {
  border-color: var(--pink-lighten-2) !important;
}

.border-pink-lighten-1-hvr:hover {
  border-color: var(--pink-lighten-1) !important;
}

.border-pink-darken-1-hvr:hover {
  border-color: var(--pink-darken-1) !important;
}

.border-pink-darken-2-hvr:hover {
  border-color: var(--pink-darken-2) !important;
}

.border-pink-darken-3-hvr:hover {
  border-color: var(--pink-darken-3) !important;
}

.border-pink-darken-4-hvr:hover {
  border-color: var(--pink-darken-4) !important;
}
.border-pink-accent-1-hvr:hover {
  border-color: var(--pink-accent-1) !important;
}

.border-pink-accent-2-hvr:hover {
  border-color: var(--pink-accent-2) !important;
}

.border-pink-accent-3-hvr:hover {
  border-color: var(--pink-accent-3) !important;
}

.border-pink-accent-4-hvr:hover {
  border-color: var(--pink-accent-4) !important;
}

.border-purple-hvr:hover {
  border-color: var(--purple) !important;
}

.border-purple-lighten-5-hvr:hover {
  border-color: var(--purple-lighten-5) !important;
}

.border-purple-lighten-4-hvr:hover {
  border-color: var(--purple-lighten-4) !important;
}

.border-purple-lighten-3-hvr:hover {
  border-color: var(--purple-lighten-3) !important;
}

.border-purple-lighten-2-hvr:hover {
  border-color: var(--purple-lighten-2) !important;
}
.border-purple-lighten-1-hvr:hover {
  border-color: var(--purple-lighten-1) !important;
}

.border-purple-darken-1-hvr:hover {
  border-color: var(--purple-darken-1) !important;
}

.border-purple-darken-2-hvr:hover {
  border-color: var(--purple-darken-2) !important;
}

.border-purple-darken-3-hvr:hover {
  border-color: var(--purple-darken-3) !important;
}

.border-purple-darken-4-hvr:hover {
  border-color: var(--purple-darken-4) !important;
}

.border-purple-accent-1-hvr:hover {
  border-color: var(--purple-accent-1) !important;
}

.border-purple-accent-2-hvr:hover {
  border-color: var(--purple-accent-2) !important;
}

.border-purple-accent-3-hvr:hover {
  border-color: var(--purple-accent-3) !important;
}

.border-purple-accent-4-hvr:hover {
  border-color: var(--purple-accent-4) !important;
}

.border-deep-purple-hvr:hover {
  border-color: var(--deep-purple) !important;
}

.border-deep-purple-lighten-5-hvr:hover {
  border-color: var(--deep-purple-lighten-5) !important;
}

.border-deep-purple-lighten-4-hvr:hover {
  border-color: var(--deep-purple-lighten-4) !important;
}

.border-deep-purple-lighten-3-hvr:hover {
  border-color: var(--deep-purple-lighten-3) !important;
}

.border-deep-purple-lighten-2-hvr:hover {
  border-color: var(--deep-purple-lighten-2) !important;
}

.border-deep-purple-lighten-1-hvr:hover {
  border-color: var(--deep-purple-lighten-1) !important;
}

.border-deep-purple-darken-1-hvr:hover {
  border-color: var(--deep-purple-darken-1) !important;
}

.border-deep-purple-darken-2-hvr:hover {
  border-color: var(--deep-purple-darken-2) !important;
}

.border-deep-purple-darken-3-hvr:hover {
  border-color: var(--deep-purple-darken-3) !important;
}

.border-deep-purple-darken-4-hvr:hover {
  border-color: var(--deep-purple-darken-4) !important;
}

.border-deep-purple-accent-1-hvr:hover {
  border-color: var(--deep-purple-accent-1) !important;
}

.border-deep-purple-accent-2-hvr:hover {
  border-color: var(--deep-purple-accent-2) !important;
}

.border-deep-purple-accent-3-hvr:hover {
  border-color: var(--deep-purple-accent-3) !important;
}

.border-deep-purple-accent-4-hvr:hover {
  border-color: var(--deep-purple-accent-4) !important;
}

.border-indigo-hvr:hover {
  border-color: var(--indigo) !important;
}

.border-indigo-lighten-5-hvr:hover {
  border-color: var(--indigo-lighten-5) !important;
}

.border-indigo-lighten-4-hvr:hover {
  border-color: var(--indigo-lighten-4) !important;
}

.border-indigo-lighten-3-hvr:hover {
  border-color: var(--indigo-lighten-3) !important;
}

.border-indigo-lighten-2-hvr:hover {
  border-color: var(--indigo-lighten-2) !important;
}

.border-indigo-lighten-1-hvr:hover {
  border-color: var(--indigo-lighten-1) !important;
}

.border-indigo-darken-1-hvr:hover {
  border-color: var(--indigo-darken-1) !important;
}

.border-indigo-darken-2-hvr:hover {
  border-color: var(--indigo-darken-2) !important;
}

.border-indigo-darken-3-hvr:hover {
  border-color: var(--indigo-darken-3) !important;
}

.border-indigo-darken-4-hvr:hover {
  border-color: var(--indigo-darken-4) !important;
}

.border-indigo-accent-1-hvr:hover {
  border-color: var(--indigo-accent-1) !important;
}

.border-indigo-accent-2-hvr:hover {
  border-color: var(--indigo-accent-2) !important;
}

.border-indigo-accent-3-hvr:hover {
  border-color: var(--indigo-accent-3) !important;
}

.border-indigo-accent-4-hvr:hover {
  border-color: var(--indigo-accent-4) !important;
}

.border-blue-hvr:hover {
  border-color: var(--blue) !important;
}

.border-blue-lighten-5-hvr:hover {
  border-color: var(--blue-lighten-5) !important;
}

.border-blue-lighten-4-hvr:hover {
  border-color: var(--blue-lighten-4) !important;
}

.border-blue-lighten-3-hvr:hover {
  border-color: var(--blue-lighten-3) !important;
}

.border-blue-lighten-2-hvr:hover {
  border-color: var(--blue-lighten-2) !important;
}

.border-blue-lighten-1-hvr:hover {
  border-color: var(--blue-lighten-1) !important;
}

.border-blue-darken-1-hvr:hover {
  border-color: var(--blue-darken-1) !important;
}

.border-blue-darken-2-hvr:hover {
  border-color: var(--blue-darken-2) !important;
}

.border-blue-darken-3-hvr:hover {
  border-color: var(--blue-darken-3) !important;
}

.border-blue-darken-4-hvr:hover {
  border-color: var(--blue-darken-4) !important;
}

.border-blue-accent-1-hvr:hover {
  border-color: var(--blue-accent-1) !important;
}

.border-blue-accent-2-hvr:hover {
  border-color: var(--blue-accent-2) !important;
}

.border-blue-accent-3-hvr:hover {
  border-color: var(--blue-accent-3) !important;
}

.border-blue-accent-4-hvr:hover {
  border-color: var(--blue-accent-4) !important;
}

.border-light-blue-hvr:hover {
  border-color: var(--light-blue) !important;
}

.border-light-blue-lighten-5-hvr:hover {
  border-color: var(--light-blue-lighten-5) !important;
}

.border-light-blue-lighten-4-hvr:hover {
  border-color: var(--light-blue-lighten-4) !important;
}

.border-light-blue-lighten-3-hvr:hover {
  border-color: var(--light-blue-lighten-3) !important;
}

.border-light-blue-lighten-2-hvr:hover {
  border-color: var(--light-blue-lighten-2) !important;
}

.border-light-blue-lighten-1-hvr:hover {
  border-color: var(--light-blue-lighten-1) !important;
}

.border-light-blue-darken-1-hvr:hover {
  border-color: var(--light-blue-darken-1) !important;
}

.border-light-blue-darken-2-hvr:hover {
  border-color: var(--light-blue-darken-2) !important;
}

.border-light-blue-darken-3-hvr:hover {
  border-color: var(--light-blue-darken-3) !important;
}

.border-light-blue-darken-4-hvr:hover {
  border-color: var(--light-blue-darken-4) !important;
}

.border-light-blue-accent-1-hvr:hover {
  border-color: var(--light-blue-accent-1) !important;
}

.border-light-blue-accent-2-hvr:hover {
  border-color: var(--light-blue-accent-2) !important;
}

.border-light-blue-accent-3-hvr:hover {
  border-color: var(--light-blue-accent-3) !important;
}

.border-light-blue-accent-4-hvr:hover {
  border-color: var(--light-blue-accent-4) !important;
}

.border-cyan-hvr:hover {
  border-color: var(--cyan) !important;
}

.border-cyan-lighten-5-hvr:hover {
  border-color: var(--cyan-lighten-5) !important;
}

.border-cyan-lighten-4-hvr:hover {
  border-color: var(--cyan-lighten-4) !important;
}

.border-cyan-lighten-3-hvr:hover {
  border-color: var(--cyan-lighten-3) !important;
}

.border-cyan-lighten-2-hvr:hover {
  border-color: var(--cyan-lighten-2) !important;
}

.border-cyan-lighten-1-hvr:hover {
  border-color: var(--cyan-lighten-1) !important;
}

.border-cyan-darken-1-hvr:hover {
  border-color: var(--cyan-darken-1) !important;
}

.border-cyan-darken-2-hvr:hover {
  border-color: var(--cyan-darken-2) !important;
}

.border-cyan-darken-3-hvr:hover {
  border-color: var(--cyan-darken-3) !important;
}

.border-cyan-darken-4-hvr:hover {
  border-color: var(--cyan-darken-4) !important;
}

.border-cyan-accent-1-hvr:hover {
  border-color: var(--cyan-accent-1) !important;
}

.border-cyan-accent-2-hvr:hover {
  border-color: var(--cyan-accent-2) !important;
}

.border-cyan-accent-3-hvr:hover {
  border-color: var(--cyan-accent-3) !important;
}

.border-cyan-accent-4-hvr:hover {
  border-color: var(--cyan-accent-4) !important;
}

.border-teal-hvr:hover {
  border-color: var(--teal) !important;
}

.border-teal-lighten-5-hvr:hover {
  border-color: var(--teal-lighten-5) !important;
}

.border-teal-lighten-4-hvr:hover {
  border-color: var(--teal-lighten-4) !important;
}

.border-teal-lighten-3-hvr:hover {
  border-color: var(--teal-lighten-3) !important;
}

.border-teal-lighten-2-hvr:hover {
  border-color: var(--teal-lighten-2) !important;
}

.border-teal-lighten-1-hvr:hover {
  border-color: var(--teal-lighten-1) !important;
}

.border-teal-darken-1-hvr:hover {
  border-color: var(--teal-darken-1) !important;
}

.border-teal-darken-2-hvr:hover {
  border-color: var(--teal-darken-2) !important;
}

.border-teal-darken-3-hvr:hover {
  border-color: var(--teal-darken-3) !important;
}

.border-teal-darken-4-hvr:hover {
  border-color: var(--teal-darken-4) !important;
}

.border-teal-accent-1-hvr:hover {
  border-color: var(--teal-accent-1) !important;
}

.border-teal-accent-2-hvr:hover {
  border-color: var(--teal-accent-2) !important;
}

.border-teal-accent-3-hvr:hover {
  border-color: var(--teal-accent-3) !important;
}

.border-teal-accent-4-hvr:hover {
  border-color: var(--teal-accent-4) !important;
}

.border-green-hvr:hover {
  border-color: var(--green) !important;
}

.border-green-lighten-5-hvr:hover {
  border-color: var(--green-lighten-5) !important;
}

.border-green-lighten-4-hvr:hover {
  border-color: var(--green-lighten-4) !important;
}

.border-green-lighten-3-hvr:hover {
  border-color: var(--green-lighten-3) !important;
}

.border-green-lighten-2-hvr:hover {
  border-color: var(--green-lighten-2) !important;
}

.border-green-lighten-1-hvr:hover {
  border-color: var(--green-lighten-1) !important;
}

.border-green-darken-1-hvr:hover {
  border-color: var(--green-darken-1) !important;
}

.border-green-darken-2-hvr:hover {
  border-color: var(--green-darken-2) !important;
}

.border-green-darken-3-hvr:hover {
  border-color: var(--green-darken-3) !important;
}

.border-green-darken-4-hvr:hover {
  border-color: var(--green-darken-4) !important;
}

.border-green-accent-1-hvr:hover {
  border-color: var(--green-accent-1) !important;
}

.border-green-accent-2-hvr:hover {
  border-color: var(--green-accent-2) !important;
}

.border-green-accent-3-hvr:hover {
  border-color: var(--green-accent-3) !important;
}

.border-green-accent-4-hvr:hover {
  border-color: var(--green-accent-4) !important;
}

.border-light-green-hvr:hover {
  border-color: var(--light-green) !important;
}

.border-light-green-lighten-5-hvr:hover {
  border-color: var(--light-green-lighten-5) !important;
}

.border-light-green-lighten-4-hvr:hover {
  border-color: var(--light-green-lighten-4) !important;
}

.border-light-green-lighten-3-hvr:hover {
  border-color: var(--light-green-lighten-3) !important;
}

.border-light-green-lighten-2-hvr:hover {
  border-color: var(--light-green-lighten-2) !important;
}

.border-light-green-lighten-1-hvr:hover {
  border-color: var(--light-green-lighten-1) !important;
}

.border-light-green-darken-1-hvr:hover {
  border-color: var(--light-green-darken-1) !important;
}

.border-light-green-darken-2-hvr:hover {
  border-color: var(--light-green-darken-2) !important;
}

.border-light-green-darken-3-hvr:hover {
  border-color: var(--light-green-darken-3) !important;
}

.border-light-green-darken-4-hvr:hover {
  border-color: var(--light-green-darken-4) !important;
}

.border-light-green-accent-1-hvr:hover {
  border-color: var(--light-green-accent-1) !important;
}

.border-light-green-accent-2-hvr:hover {
  border-color: var(--light-green-accent-2) !important;
}

.border-light-green-accent-3-hvr:hover {
  border-color: var(--light-green-accent-3) !important;
}

.border-light-green-accent-4-hvr:hover {
  border-color: var(--light-green-accent-4) !important;
}

.border-lime-hvr:hover {
  border-color: var(--lime) !important;
}

.border-lime-lighten-5-hvr:hover {
  border-color: var(--lime-lighten-5) !important;
}

.border-lime-lighten-4-hvr:hover {
  border-color: var(--lime-lighten-4) !important;
}

.border-lime-lighten-3-hvr:hover {
  border-color: var(--lime-lighten-3) !important;
}

.border-lime-lighten-2-hvr:hover {
  border-color: var(--lime-lighten-2) !important;
}

.border-lime-lighten-1-hvr:hover {
  border-color: var(--lime-lighten-1) !important;
}

.border-lime-darken-1-hvr:hover {
  border-color: var(--lime-darken-1) !important;
}

.border-lime-darken-2-hvr:hover {
  border-color: var(--lime-darken-2) !important;
}

.border-lime-darken-3-hvr:hover {
  border-color: var(--lime-darken-3) !important;
}

.border-lime-darken-4-hvr:hover {
  border-color: var(--lime-darken-4) !important;
}

.border-lime-accent-1-hvr:hover {
  border-color: var(--lime-accent-1) !important;
}

.border-lime-accent-2-hvr:hover {
  border-color: var(--lime-accent-2) !important;
}

.border-lime-accent-3-hvr:hover {
  border-color: var(--lime-accent-3) !important;
}

.border-lime-accent-4-hvr:hover {
  border-color: var(--lime-accent-4) !important;
}

.border-yellow-hvr:hover {
  border-color: var(--yellow) !important;
}

.border-yellow-lighten-5-hvr:hover {
  border-color: var(--yellow-lighten-5) !important;
}

.border-yellow-lighten-4-hvr:hover {
  border-color: var(--yellow-lighten-4) !important;
}

.border-yellow-lighten-3-hvr:hover {
  border-color: var(--yellow-lighten-3) !important;
}

.border-yellow-lighten-2-hvr:hover {
  border-color: var(--yellow-lighten-2) !important;
}

.border-yellow-lighten-1-hvr:hover {
  border-color: var(--yellow-lighten-1) !important;
}

.border-yellow-darken-1-hvr:hover {
  border-color: var(--yellow-darken-1) !important;
}

.border-yellow-darken-2-hvr:hover {
  border-color: var(--yellow-darken-2) !important;
}

.border-yellow-darken-3-hvr:hover {
  border-color: var(--yellow-darken-3) !important;
}

.border-yellow-darken-4-hvr:hover {
  border-color: var(--yellow-darken-4) !important;
}

.border-yellow-accent-1-hvr:hover {
  border-color: var(--yellow-accent-1) !important;
}

.border-yellow-accent-2-hvr:hover {
  border-color: var(--yellow-accent-2) !important;
}

.border-yellow-accent-3-hvr:hover {
  border-color: var(--yellow-accent-3) !important;
}

.border-yellow-accent-4-hvr:hover {
  border-color: var(--yellow-accent-4) !important;
}

.border-amber-hvr:hover {
  border-color: var(--amber) !important;
}

.border-amber-lighten-5-hvr:hover {
  border-color: var(--amber-lighten-5) !important;
}

.border-amber-lighten-4-hvr:hover {
  border-color: var(--amber-lighten-4) !important;
}

.border-amber-lighten-3-hvr:hover {
  border-color: var(--amber-lighten-3) !important;
}

.border-amber-lighten-2-hvr:hover {
  border-color: var(--amber-lighten-2) !important;
}

.border-amber-lighten-1-hvr:hover {
  border-color: var(--amber-lighten-1) !important;
}

.border-amber-darken-1-hvr:hover {
  border-color: var(--amber-darken-1) !important;
}

.border-amber-darken-2-hvr:hover {
  border-color: var(--amber-darken-2) !important;
}

.border-amber-darken-3-hvr:hover {
  border-color: var(--amber-darken-3) !important;
}

.border-amber-darken-4-hvr:hover {
  border-color: var(--amber-darken-4) !important;
}

.border-amber-accent-1-hvr:hover {
  border-color: var(--amber-accent-1) !important;
}

.border-amber-accent-2-hvr:hover {
  border-color: var(--amber-accent-2) !important;
}

.border-amber-accent-3-hvr:hover {
  border-color: var(--amber-accent-3) !important;
}

.border-amber-accent-4-hvr:hover {
  border-color: var(--amber-accent-4) !important;
}

.border-orange-hvr:hover {
  border-color: var(--orange) !important;
}

.border-orange-lighten-5-hvr:hover {
  border-color: var(--orange-lighten-5) !important;
}

.border-orange-lighten-4-hvr:hover {
  border-color: var(--orange-lighten-4) !important;
}

.border-orange-lighten-3-hvr:hover {
  border-color: var(--orange-lighten-3) !important;
}

.border-orange-lighten-2-hvr:hover {
  border-color: var(--orange-lighten-2) !important;
}

.border-orange-lighten-1-hvr:hover {
  border-color: var(--orange-lighten-1) !important;
}

.border-orange-darken-1-hvr:hover {
  border-color: var(--orange-darken-1) !important;
}

.border-orange-darken-2-hvr:hover {
  border-color: var(--orange-darken-2) !important;
}

.border-orange-darken-3-hvr:hover {
  border-color: var(--orange-darken-3) !important;
}

.border-orange-darken-4-hvr:hover {
  border-color: var(--orange-darken-4) !important;
}

.border-orange-accent-1-hvr:hover {
  border-color: var(--orange-accent-1) !important;
}

.border-orange-accent-2-hvr:hover {
  border-color: var(--orange-accent-2) !important;
}

.border-orange-accent-3-hvr:hover {
  border-color: var(--orange-accent-3) !important;
}

.border-orange-accent-4-hvr:hover {
  border-color: var(--orange-accent-4) !important;
}

.border-deep-orange-hvr:hover {
  border-color: var(--deep-orange) !important;
}

.border-deep-orange-lighten-5-hvr:hover {
  border-color: var(--deep-orange-lighten-5) !important;
}

.border-deep-orange-lighten-4-hvr:hover {
  border-color: var(--deep-orange-lighten-4) !important;
}

.border-deep-orange-lighten-3-hvr:hover {
  border-color: var(--deep-orange-lighten-3) !important;
}

.border-deep-orange-lighten-2-hvr:hover {
  border-color: var(--deep-orange-lighten-2) !important;
}

.border-deep-orange-lighten-1-hvr:hover {
  border-color: var(--deep-orange-lighten-1) !important;
}

.border-deep-orange-darken-1-hvr:hover {
  border-color: var(--deep-orange-darken-1) !important;
}

.border-deep-orange-darken-2-hvr:hover {
  border-color: var(--deep-orange-darken-2) !important;
}

.border-deep-orange-darken-3-hvr:hover {
  border-color: var(--deep-orange-darken-3) !important;
}

.border-deep-orange-darken-4-hvr:hover {
  border-color: var(--deep-orange-darken-4) !important;
}

.border-deep-orange-accent-1-hvr:hover {
  border-color: var(--deep-orange-accent-1) !important;
}

.border-deep-orange-accent-2-hvr:hover {
  border-color: var(--deep-orange-accent-2) !important;
}

.border-deep-orange-accent-3-hvr:hover {
  border-color: var(--deep-orange-accent-3) !important;
}

.border-deep-orange-accent-4-hvr:hover {
  border-color: var(--deep-orange-accent-4) !important;
}

.border-brown-hvr:hover {
  border-color: var(--brown) !important;
}

.border-brown-lighten-5-hvr:hover {
  border-color: var(--brown-lighten-5) !important;
}

.border-brown-lighten-4-hvr:hover {
  border-color: var(--brown-lighten-4) !important;
}

.border-brown-lighten-3-hvr:hover {
  border-color: var(--brown-lighten-3) !important;
}

.border-brown-lighten-2-hvr:hover {
  border-color: var(--brown-lighten-2) !important;
}

.border-brown-lighten-1-hvr:hover {
  border-color: var(--brown-lighten-1) !important;
}

.border-brown-darken-1-hvr:hover {
  border-color: var(--brown-darken-1) !important;
}

.border-brown-darken-2-hvr:hover {
  border-color: var(--brown-darken-2) !important;
}

.border-brown-darken-3-hvr:hover {
  border-color: var(--brown-darken-3) !important;
}

.border-brown-darken-4-hvr:hover {
  border-color: var(--brown-darken-4) !important;
}

.border-blue-grey-hvr:hover {
  border-color: var(--blue-grey) !important;
}

.border-blue-grey-lighten-5-hvr:hover {
  border-color: var(--blue-grey-lighten-5) !important;
}

.border-blue-grey-lighten-4-hvr:hover {
  border-color: var(--blue-grey-lighten-4) !important;
}

.border-blue-grey-lighten-3-hvr:hover {
  border-color: var(--blue-grey-lighten-3) !important;
}

.border-blue-grey-lighten-2-hvr:hover {
  border-color: var(--blue-grey-lighten-2) !important;
}

.border-blue-grey-lighten-1-hvr:hover {
  border-color: var(--blue-grey-lighten-1) !important;
}

.border-blue-grey-darken-1-hvr:hover {
  border-color: var(--blue-grey-darken-1) !important;
}

.border-blue-grey-darken-2-hvr:hover {
  border-color: var(--blue-grey-darken-2) !important;
}

.border-blue-grey-darken-3-hvr:hover {
  border-color: var(--blue-grey-darken-3) !important;
}

.border-blue-grey-darken-4-hvr:hover {
  border-color: var(--blue-grey-darken-4) !important;
}

.border-grey-hvr:hover {
  border-color: var(--grey) !important;
}

.border-grey-lighten-5-hvr:hover {
  border-color: var(--grey-lighten-5) !important;
}

.border-grey-lighten-4-hvr:hover {
  border-color: var(--grey-lighten-4) !important;
}

.border-grey-lighten-3-hvr:hover {
  border-color: var(--grey-lighten-3) !important;
}

.border-grey-lighten-2-hvr:hover {
  border-color: var(--grey-lighten-2) !important;
}

.border-grey-lighten-1-hvr:hover {
  border-color: var(--grey-lighten-1) !important;
}

.border-grey-darken-1-hvr:hover {
  border-color: var(--grey-darken-1) !important;
}

.border-grey-darken-2-hvr:hover {
  border-color: var(--grey-darken-2) !important;
}

.border-grey-darken-3-hvr:hover {
  border-color: var(--grey-darken-3) !important;
}

.border-grey-darken-4-hvr:hover {
  border-color: var(--grey-darken-4) !important;
}

.border-black-hvr:hover {
  border-color: var(--black) !important;
}

.border-white-hvr:hover {
  border-color: var(--white) !important;
}

