.max-h-280 {
  height: 280px;
}

.overflow-x-hidden {
  overflow-x: hidden
}

.overflow-y-scroll {
  overflow-y: scroll
}

.text-ellipsis {
  white-space: nowrap;
  /* Отменяем перенос текста */
  overflow: hidden;
  /* Обрезаем содержимое */
  padding: 5px;
  /* Поля */
  text-overflow: ellipsis;
  /* Многоточие */
}
